Здравствуйте.
Вас приветствует команда интернет-магазин <a href="http://{{ domain }}">{{ shop.name }}</a><br>

Вы успешно зарегистрировались.

Для входа на сайт используйте следующие данные:<br>
Логин: {{ user.username }}<br>
Пароль: {{ password }}<br>

<hr>
В целях безопасности рекомендуем Вам поменять пароль в личном кабинете.
