{% load lfs_tags thumbnail %}
{% current_site %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
      <table id="content" cellpadding="0" cellspacing="0" border="0" width="98%" style="margin: 0px 1%">
        <tr>
            <td colspan="2">
                 <p style="margin-bottom: 10px;"><img src="http://voltrak.place-shop.ru/media/static/images/logo.png" alt=""></p>
                <p style="margin: 0px 0 40px 0;font-size: 23px;"><b>Вас приветствует интернет-магазин voltrak.ru</b></p>                
            </td>
        </tr>
        <tr>
            <td colspan="2" >
               
                <p style="margin-bottom: 10px;">Добрый день,<b style="margin-left: 5px;">{{ order.fio }} {{ order.customer_lastname }}</b></p>
                <p style="margin-bottom: 10px;">Ваш заказ <b style="margin-left: 25px;">№{{ order.custom_order_number }}</b> принят.</p>                
            </td>            
        </tr>
        </table>
        <table style="width: 98%; border: 1px solid #e5e5e5;margin: 30px 1%;">
        <tr>
            <th colspan="2" style="text-align: left;background-color: #f5da0f;padding: 6px 8px;border: 1px solid #ebbf0c;">Уточнить подробности о Вашем заказе</th>
        </tr>
        <tr>
            <td style="padding:8px 8px 0 0; width: 150px;"><img width="150" src="http://voltrak.place-shop.ru/media/static/images/sg3.png" alt=""></td>
            <td style="padding:8px 0 0 0">               
                <p><b>Иванов Дмитрий</b>: старший инженер отдела продаж</p>
                <p><b>Эл.адрес</b>: <a href="mailto:ivanov@voltrak.ru">ivanov@voltrak.ru</a></p>
                <p><b>Телефон</b>: +7-911-501-22-45, 8(8172)50-22-45</p>
            </td>
        </tr>
    </table>

    <table cellpadding="0" cellspacing="0" border="1" width="98%" style="margin: 30px 1%">
        <tr>
            <th style="text-align: left;background-color: #f5da0f;padding: 6px 8px;border: 1px solid #ebbf0c;">Арт.</th>
            <th style="text-align: left;background-color: #f5da0f;padding: 6px 8px;border: 1px solid #ebbf0c;">Наименование</th>
            <th style="text-align: left;background-color: #f5da0f;padding: 6px 8px;border: 1px solid #ebbf0c;">Цена</th>
            <th style="text-align: left;background-color: #f5da0f;padding: 6px 8px;border: 1px solid #ebbf0c;">Кол-во</th>
            <th style="text-align: left;background-color: #f5da0f;padding: 6px 8px;border: 1px solid #ebbf0c;">Стоимость</th>
        </tr>
        {% for item in order.items.all %}
            <tr>{% url 'product' slug=item.product.slug as product_url %}
                <td style="border: 1px solid #e5e5e5;padding: 6px 8px;">{{ item.product_sku }}</td>
                <td style="border: 1px solid #e5e5e5;padding: 6px 8px;">{{ item.product_name }}</td>
                <td style="border: 1px solid #e5e5e5;padding: 6px 8px;">{{ item.product_price|currency }} р.</td>
                <td style="border: 1px solid #e5e5e5;padding: 6px 8px;">{{ item.product_amount|floatformat }} {{ item.product.unit }}</td>
                <td style="border: 1px solid #e5e5e5;padding: 6px 8px;">{{ item.price|currency }} р.</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2" style="border: 1px solid #e5e5e5; font-weight: bold;padding: 6px 8px;">ИТОГО</td>
            <td colspan="3" style="border: 1px solid #e5e5e5; font-weight: bold;padding: 6px 8px;">{{ order.price|currency }} р.</td>
        </tr>
    </table>

    <table cellpadding="0" cellspacing="0" border="1" width="48%"  style="margin: 30px 1%; float:left">
        <tr>
            <th colspan="2" style="background-color: #f5da0f;padding: 6px 8px;border: 1px solid #e5e5e5;text-align: left">Персональные данные</th>
        </tr>
        <tr>
            <td style="text-align: right;padding: 6px 8px;border: 1px solid #e5e5e5">ФИО:</td>
            <td style="text-align: left;padding: 6px 8px;border: 1px solid #e5e5e5"><b>{{ order.fio }}</b></td>
        </tr>
        <tr>
            <td style="text-align: right;padding: 6px 8px;border: 1px solid #e5e5e5">E-mail:</td>
            <td style="text-align: left;padding: 6px 8px;border: 1px solid #e5e5e5"><b>{{ order.email }}</b>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;padding: 6px 8px;border: 1px solid #e5e5e5">Телефон</td>
            <td style="text-align: left;padding: 6px 8px;border: 1px solid #e5e5e5"><b>{{ order.phone }}</b>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;padding: 6px 8px;border: 1px solid #e5e5e5">Доп.телефон</td>
            <td style="text-align: left;padding: 6px 8px;border: 1px solid #e5e5e5"><b>{{ order.dop_phone }}</b>
            </td>
        </tr>
    </table>

    {% if order.transport_region %}
        <table cellpadding="0" cellspacing="0" border="1" width="48%" style="margin:30px 1%;float:left">
            <tr>
                <th colspan="2" style="background-color: #f5da0f;padding: 6px 8px;border: 1px solid #e5e5e5;text-align: left">Доставка ТК</th>
            </tr>
            <tr>
                <td style="text-align: right;padding: 6px 8px;border: 1px solid #e5e5e5">Область:</td>
                <td style="text-align: left;padding: 6px 8px;border: 1px solid #e5e5e5"><b> {{ order.transport_region }}</b>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;padding: 6px 8px;border: 1px solid #e5e5e5">Город:</td>
                <td style="text-align: left;padding: 6px 8px;border: 1px solid #e5e5e5"><b>{{ order.transport_city }}</b>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;padding: 6px 8px;border: 1px solid #e5e5e5">Улица</td>
                <td style="text-align: left;padding: 6px 8px;border: 1px solid #e5e5e5"><b>{{ order.transport_street }}</b>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;padding: 6px 8px;border: 1px solid #e5e5e5">Дом</td>
                <td style="text-align: left;padding: 6px 8px;border: 1px solid #e5e5e5"><b>{{ order.transport_house }}</b>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;padding: 6px 8px;border: 1px solid #e5e5e5">Корпус</td>
                <td style="text-align: left;padding: 6px 8px;border: 1px solid #e5e5e5"><b>{{ order.transport_corpus }}</b>
                </td>
            </tr>

            <tr>
                <td style="text-align: right;padding: 6px 8px;border: 1px solid #e5e5e5">Строение</td>
                <td style="text-align: left;padding: 6px 8px;border: 1px solid #e5e5e5"><b>{{ order.transport_stroenie }}</b>
                </td>
            </tr>

            <tr>
                <td style="text-align: right;padding: 6px 8px;border: 1px solid #e5e5e5">Офис</td>
                <td style="text-align: left;padding: 6px 8px;border: 1px solid #e5e5e5"><b>{{ order.transport_office }}</b>
                </td>
            </tr>
        </table>
    {% else %}
        <table cellpadding="0" cellspacing="0" border="1" width="48%" style="margin: 30px 1%; float:left">
            <tr>
                <th colspan="2" style="background-color: #f5da0f;padding: 6px 8px;border: 1px solid #e5e5e5;text-align: left">Товар необходимо забрать по адресу:</th>
            </tr>
            <tr>
                <td style="text-align: right;padding: 6px 8px;border: 1px solid #e5e5e5">Адрес</td>
                <td style="text-align: left;padding: 6px 8px;border: 1px solid #e5e5e5">{{ order.samovivoz_addr }}</td>
            </tr>
        </table>
    {% endif %}

    <table cellpadding="0" cellspacing="0" border="1" width="48%"  style="margin: 30px 1%; float:left">
        <tr>
            <th colspan="2" style="background-color: #f5da0f;padding: 6px 8px;border: 1px solid #e5e5e5;text-align: left">Оплата</th>
        </tr>
        {% if order.payd_nal %}
            <tr>
                <td style="text-align: left;padding: 6px 8px;border: 1px solid #e5e5e5" colspan="2"><b>Наличными</b></td>
            </tr>
        {% else %}
             <tr>
                <td style="text-align: right;padding: 6px 8px;border: 1px solid #e5e5e5">Организация:</td>
                <td style="text-align: left;padding: 6px 8px;border: 1px solid #e5e5e5"><b>{{ order.beznal_organization }}</b></td>
            </tr>
            <tr>
                <td style="text-align: right;padding: 6px 8px;border: 1px solid #e5e5e5">ИНН:</td>
                <td style="text-align: left;padding: 6px 8px;border: 1px solid #e5e5e5"><b>{{ order.beznal_inn }}</b>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;padding: 6px 8px;border: 1px solid #e5e5e5">КПП:</td>
                <td style="text-align: left;padding: 6px 8px;border: 1px solid #e5e5e5"><b>{{ order.beznal_kpp }}</b>
                </td>
            </tr>
        {% endif %}
       
    </table>
    {% if order.message %}
        <table cellpadding="0" cellspacing="0" border="0" width="48%" style="margin: 30px 1%; float:left">
            <tr>
                <th style="background-color: #f5da0f;padding: 6px 8px;border: 1px solid #e5e5e5;text-align: left">Комментарий покупателя</th>
            </tr>
            <tr>
                <td style="text-align: left;padding: 6px 8px;border: 1px solid #e5e5e5">{{ order.message }}</td>
            </tr>
        </table>
    {% endif %}   

   <table style="clear:both;margin: 30px 1%;">
       <tr>
           <td>Спасибо за выбор магазина <a href="http://voltrak.ru/">Трактороцентр</a>!</td>
       </tr>
   </table>
</body>
</html>
