{% load i18n %}
{% load lfs_tags thumbnail %}

                    
{% if cart.items %}
 <form id="cart-form" action="{% url 'plugins.cart.views.refresh_cart' %}" onsubmit="return false;">{% csrf_token %}
    <div class="row">
      <div class="col-xs-12">
          <h1 class="lg">Корзина</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="t_cart">
          <tbody>
            <tr class="title_cart">
              <td class="t_cart_photo">Фото</td>
              <td class="t_cart_name">Наименование</td>
              <td class="t_cart_price">Цена</td>
              <td class="t_cart_presence">Количество</td>
              <td class="t_cart_summa">Сумма</td>
              <td class="t_cart_delete">Удалить</td>
            </tr>
          </tbody>
        </table>

        <form action="">
         {% for cart_item in cart.items %}
          <table class="t_cart tovar_in_cart">
            <tbody>
              <tr>
                <td class="t_cart_photo">
                 <img
                    {% thumbnail cart_item.product.get_image "60x60" as im %}
                    src="{{ im.url }}"
                    {% empty %}
                    src="{{ STATIC_URL }}images/no_image.jpg"
                    {% endthumbnail %}
                    alt="{{ cart_item.product.get_name }}"
                    title="{{ cart_item.product.get_name }}" />
                    <img class="zoom_photo"
                    {% thumbnail cart_item.product.get_image "300x300" as im %}
                    src="{{ im.url }}"
                    {% empty %}
                    src="{{ STATIC_URL }}images/no_image.jpg"
                    {% endthumbnail %}
                    alt="{{ cart_item.product.get_name }}"
                    title="{{ cart_item.product.get_name }}" />
                </td>
                <td class="t_cart_name">
                  <p>{{ cart_item.product.get_name }}</p>
                  {% if cart_item.product.get_sku %}
                    <span>Код: {{ cart_item.product.get_sku }}</span>
                  {% endif %}
                </td>
                <td class="t_cart_price">{{ cart_item.product.get_price|currency }} <span class="rubl">o</span></td>
                <td class="t_cart_presence">
                  <div class="number cart-amount">                
                       <input class="qty cart-amount"
                               type="number"
                               name="amount-cart-item_{{ cart_item.id }}"
                               value="{{ cart_item.amount|floatformat }}" />
                  </div>
                </td>
                <td class="t_cart_summa">{{ cart_item.get_price|currency }} <span class="rubl">o</span></td>
                <td class="t_cart_delete"><a  class="delete-cart-item" href="{% url 'delete_cart_item' cart_item.id %}"></a></td>
              </tr>
            </tbody>
          </table>
          {% endfor %}
          <div class="after_table">
            <a href="{% url 'warehouse_level' %}" class="continue_buy"
             onclick="yaCounter27421565.reachGoal('back_to_buy'); return true;">Продолжить покупки</a>
            <p class="itog">Итого: <span>{{ cart_price|currency }} <span class="rubl">o</span></span></p>
          </div>
        </form>        
      </div>
      <div class="col-xs-12">
       <a class="purchase button" href="{% url 'checkout_dispatcher' %}"  onclick="yaCounter27421565.reachGoal('checkout_cart'); return true;">Перейти к оформлению</a>
      </div>
    </div>       
</form>
{% else %}
<div class="row">
  <div class="col-xs-12">
      <p>Ваша корзина покупок пока что пуста...</p>
      <div class="after_table">
            <a href="{% url 'warehouse_level' %}" class="continue_buy">Продолжить покупки</a>
      </div>
  </div>
</div>
{% endif %}

{% if not_auth %}
<script type="text/javascript">
$(document).ready(function(){
  $('.item_1').addClass('active');
  $('#enter').addClass('active'); 
  $(".next").val("/checkout-dispatcher");
  $('#modal-authorization').modal({
    opacity: 75,
  });
});
</script>
{% endif %}