{% extends "base.html" %}
{% load i18n lfs_tags generic_flatblocks %}
{% block head_dop_scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/cart.js?v=2"></script>
{% endblock %}
{% block breadcrumbs %}
<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li class="active">Корзина</li>
  </ol>
</div>
{% endblock %}

{% block content %}
<section>
    <div class="container article">
        {{ cart_inline }}
    </div>
</section>
{% endblock %}
