{% load i18n %}
{% load lfs_tags pytils_numeral %}

{% if count == 0 %}
	<div class="cart false">
		<a href="{% url 'warehouse_level' %}">Корзина</a><span></span>
	 	<p>Ваша корзина пуста</p>
 	</div>
{% else %}
	<div class="cart true">
		<a href="{% url 'cart' %}"  onclick="yaCounter27421565.reachGoal('click_on_cart_top'); return true;">Корзина</a><span></span>
		<p>В корзине {{ count|floatformat }} {{ count|choose_plural:"позиция, позиции, позиций" }}</p>
	</div>
{% endif %}
