{% extends "base.html" %}

{% block seo %}
{% endblock %}

{% block breadcrumbs_content %}<span>Ошибка 404</span>{% endblock %}
{% block content %}
    <div class="er404">
        <!-- <p><img src="{{ STATIC_URL }}images/404.png" alt="Страница не найдена!" title="Страница не найдена!"></p> -->
        <div class="container">
        	<div class="row">
        		<div class="col-xs-offset-2 col-xs-9">
        			<!-- <span>К сожалению, такой страницы не существует. <br>Попробуйте воспользоваться поиском или перейти на <a href="{% url 'home' %}" class="link">главную страницу</a></span> -->
                   
                    <p><b>Данная страница переехала.</b></p>
                    <p>Попробуйте воспользоваться поиском, <br>вернуться на <a href="/">главную страницу</a> или перейти в <a href="/warehouse">каталог</a>.</p>
                    <p>
                        <a class="go_page" href="/">На главную</a>
                        <a class="go_page" href="/warehouse">В каталог</a>
                    </p>
            </div>

        		</div>
        	</div>
        </div>
    </div>
{% endblock %}