{% extends "base.html" %}

{% block seo %}
{% endblock %}

{% block header %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
        <div class="er404">
        <p><img src="{{ STATIC_URL }}images/500.png" alt="Страница не найдена!" title="Страница не найдена!"></p>
        <div class="container">
        	<div class="row">
        		<div class="col-xs-offset-3 col-xs-9">
        			<span>К сожалению, такой страницы не существует. <br>Попробуйте воспользоваться поиском или перейти на <a href="{% url 'home' %}" class="link">главную страницу</a></span>
        		</div>
        	</div>
        </div>
    </div>
{% endblock %}