{% extends 'base.html' %}

{% block content %}
<section>
  <div class="container">
    <div class="row">    
      <div class="col-xs-3">
        {% block leftCol %}{% endblock %} 
      </div>
      <div class="col-xs-9">
          {% block rightCol %}{% endblock %}  
      </div>             
    </div>
  </div>
</section>
{% endblock %}
