<!DOCTYPE html>
{% load seo generic_flatblocks docent_help_tags cache page_tags pytils_numeral  %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1200">
     <link rel="icon" type="image/ico" href="{{ STATIC_URL }}images/favicon.ico"/>
    {% block seo %}
    {% get_metadata as seo %}
      <title>{{ seo.title.value }}</title>
    {{ seo.description }}
    {{ seo.keywords }}
    {% endblock %}  

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}css/docent.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/animate.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>    
    <script src="{{ STATIC_URL }}js/jquery.bxslider.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.simplemodal.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.json.js"></script>
    <link href="{{ STATIC_URL }}css/jquery.kladr.min.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/jquery.kladr.js"></script>
    <script src="{{ STATIC_URL }}js/custom.js"></script>
    <script src="{{ STATIC_URL }}js/jstree.min.js"></script>
    <script src="{{ STATIC_URL }}js/wow.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ecko/js/csrf.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ecko/jquery/jquery.form.pack.js"></script>
    <link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet" />
    <script src="{{ STATIC_URL }}js/lightbox.min.js?ver=1"></script>
    <script src="{{ STATIC_URL }}js/jquery.webui-popover.min.js"></script>
    <link href="{{ STATIC_URL }}css/jquery.webui-popover.min.css">
 
    {% block head_dop_css %}{% endblock %}
    {% block head_dop_scripts %}{% endblock %}
  </head>
<body>
<main>
<header {% if request.get_full_path == '/' %}class="index" {% endif %}>
  <section class="hd1">
    <div class="container">
      <div class="row">
        <div class="col-xs-8">
         <ul class="header_nav">
         {% include 'includes/info_pages_menu.html' %}
         </ul>
        </div>
        <div class="col-xs-4">
        {% if request.user.is_authenticated %}
          <div class="user login">
            <a href="{% url 'docent_my_account' %}" class="personal_office">Личный кабинет</a><span></span>
            <a href="{% url 'logout' %}" class="exit">Выход</a><span></span>
          </div>
        {% else %}
          <div class="user no_login">
            <a href="" class="enter window">Вход</a><span></span> и
            <a href="" class="registr window">Регистрация</a>
          </div>
        {% endif %}

        </div>
      </div>
    </div>
  </section>
  <section class="hd2">
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <a href="{% url 'home' %}" class="no_link"><img src="{{ STATIC_URL }}images/logo20.svg" width="280" alt="" class="logo"></a>
        </div>
        <div class="col-xs-7">
          <div class="call_back">
           {% gblock 'phone_one' for 'gblocks.title' into 'phone_one' %}
            <p>{{ phone_one.title }}</p>
            <a href="" class="call_back">Перезвоните мне</a>
          </div> 
        </div>
        <div class="col-xs-2 cart_insert">
            {% cart_products_counter %}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          {% up_menu %}
        </div>
        <div class="col-xs-3">
          {% left_menu %}
        </div>
        <div class="col-xs-9">
          <form action="{% url 'docent_search' %}" class="search">
            <input type="search" id="searchInput" name="q" id="" placeholder="Введите запрос для поиска" data="{% url 'docent_livesearch' %}">
            <input type="submit" name="go" value="Найти"/>
          </form>
          <div class="searchHelp"></div>
        </div>
        {% block breadcrumbs %}{% endblock %}
      </div>
    </div>
  </section>
</header>
<div id="loader">
    <p class="pre_loader"><img src="{{ STATIC_URL}}images/preloader.gif"/></p>
</div>
{% block content %}{% endblock %}

</main>

{% foot_menu %}
       
{% call_me_please %}

{% if 'show_login' in request.GET %}
<script type="text/javascript">
$(document).ready(function(){
  $('.item_1').addClass('active');
  $('#enter').addClass('active'); 
  $(".next").val("/checkout-dispatcher");
  $('#modal-authorization').modal({
    opacity: 75,
  });
});
</script>
{% endif %}
  {% gblock 'footer_block' for 'gblocks.text' into 'footer_block' %}
  {{ footer_block.text|safe }}

  <div id="modal-authorization" class="modal_w">  
    <p class="h1 lg">Войти или зарегистрироваться</p>
    <ul class="authorization clear">
      <li class="item_1"><a href="#enter" data-toggle="tab">Вход</a></li>
      <li class="item_2"><a href="#registration" data-toggle="tab">Регистрация</a></li>
      <li class="item_3"><a href="#messages" data-toggle="tab">Восстановление пароля</a></li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane" id="enter">
        <form action="{% url 'docent_login' %}" id="LoginForm">{% csrf_token %}
          <input type="hidden" name="action" value="login"> 
          <input type="hidden" class="next" name="next" value="">  
          <div class="clear">
            <label for="email">E-mail</label> 
            <input type="email" name="username" class="form-control" id="email">
          </div>
          <div class="clear">
            <label for="password">Пароль</label>
            <input type="password" name="password" class="form-control" id="password">
          </div>         
          <input type="submit" id="LoginFormSubmit"  onclick="yaCounter27421565.reachGoal('enter_on_site'); return true;" value="Вход">
          <div class="__all__"></div>         
        </form>
      </div>

      <div class="tab-pane" id="registration">
        <form action="{% url 'docent_login' %}" id="RegisterForm">{% csrf_token %} 
          <input type="hidden" name="action" value="register"> 
          <input type="hidden" class="next" name="next" value="">    
          <div class="clear">
            <label for="email_enter_2">Эл.почта</label>
            <input type="email" name="email" class="form-control" id="email_enter_2">
          </div>  

          <div class="clear">
            <label for="name_2">Юр.лицо</label>
            <input type="checkbox" name="urik" value="1">
          </div>           

          <!--<div class="clear">
            <label for="tel_enter_2" >Телефон</label>
            <input type="tel" name="phone" class="form-control" id="tel_enter_2">
          </div>
          <div class="clear">
            <label for="password_enter_2">Пароль</label>
            <input type="password" name="password_1" class="form-control" id="password_enter_2">
          </div>
          <div class="clear">
            <label for="password_enter_22">Повторите<br>пароль</label>            
            <input type="password" name="password_2" class="form-control" id="password_enter_22">          
          </div>          -->
          <input type="submit" id="RegisterFormSubmit" value="Зарегистрироваться">
          <div class="__all__"></div> 
        </form>
      </div>

      <div class="tab-pane" id="messages">
        <form action="{% url 'password_reset' %}" id="ResetForm">  
          <input type="hidden" name="action" value="reset"> 
          <input type="hidden" class="next" name="next" value="">   
          <div class="clear">
            <label for="email_enter_3">Эл.почта</label>
            <input type="email" name="email" class="form-control" id="email_enter_3">
          </div>     
          <input type="submit" id="ResetFormSubmit" value="Восстановить пароль">         
        </form>
      </div>
    </div>
  </div>



</body>
</html>

 
























