{% extends "base.html" %}
{% block breadcrumbs %}
<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li class="active">Карта ссылок</li>
  </ol>
</div>
{% endblock %}

{% block content %}
<section>
    <div class="container">
	    <div class="row">
	      <div class="col-xs-12">
	          <h1 class="lg">Категории</h1>
	          <div class="row">
	          	<div class="col-xs-4">
	          		{% for link in categorySM.items|slice:":100" %}
	          			<div><a href="{{ link.get_absolute_url }}">{{ link.name }}</a></div>
	          		{% endfor %}
	          	</div>
	          
	
	          	<div class="col-xs-4">
	          		{% for link in categorySM.items|slice:"100:200" %}
	          			<div><a href="{{ link.get_absolute_url }}">{{ link.name }}</a></div>
	          		{% endfor %}
	          	</div>



	          	<div class="col-xs-4">
	          		{% for link in categorySM.items|slice:"200:" %}
	          			<div><a href="{{ link.get_absolute_url }}">{{ link.name }}</a></div>
	          		{% endfor %}
	          	</div>
	     </div>
	      </div>
	    </div>
    </div>
</section>

<section>
    <div class="container">
	    <div class="row">
	      <div class="col-xs-12">
	          <h1 class="lg">Новости</h1>
	          <div class="row">
	          	<div class="col-xs-4">
	          		{% for link in newsSM.items|slice:":100" %}
	          			<div><a href="{{ link.get_absolute_url }}">{{ link.title }}</a></div>
	          		{% endfor %}
	          	</div>
	          
	
	          	<div class="col-xs-4">
	          		{% for link in newsSM.items|slice:"100:200" %}
	          			<div><a href="{{ link.get_absolute_url }}">{{ link.title }}</a></div>
	          		{% endfor %}
	          	</div>



	          	<div class="col-xs-4">
	          		{% for link in newsSM.items|slice:"200:" %}
	          			<div><a href="{{ link.get_absolute_url }}">{{ link.title }}</a></div>
	          		{% endfor %}
	          	</div>
	     </div>
	      </div>
	    </div>
    </div>
</section>

<section>
    <div class="container">
	    <div class="row">
	      <div class="col-xs-12">
	          <h1 class="lg">Страницы</h1>
	          <div class="row">
	          	<div class="col-xs-4">
	          		{% for link in pageSM.items|slice:":100" %}
	          			<div><a href="{{ link.get_absolute_url }}">{{ link.title }}</a></div>
	          		{% endfor %}
	          	</div>
	          
	
	          	<div class="col-xs-4">
	          		{% for link in pageSM.items|slice:"100:200" %}
	          			<div><a href="{{ link.get_absolute_url }}">{{ link.title }}</a></div>
	          		{% endfor %}
	          	</div>



	          	<div class="col-xs-4">
	          		{% for link in pageSM.items|slice:"200:" %}
	          			<div><a href="{{ link.get_absolute_url }}">{{ link.title }}</a></div>
	          		{% endfor %}
	          	</div>
	     </div>
	      </div>
	    </div>
    </div>
</section>

<section>
    <div class="container">
	    <div class="row">
	      <div class="col-xs-12">
	          <h1 class="lg">Сервис</h1>
	          <div class="row">
	          	<div class="col-xs-4">
	          		{% for link in serviceSM.items|slice:":100" %}
	          			<div><a href="{{ link.get_absolute_url }}">{{ link.title }}</a></div>
	          		{% endfor %}
	          	</div>
	          
	
	          	<div class="col-xs-4">
	          		{% for link in serviceSM.items|slice:"100:200" %}
	          			<div><a href="{{ link.get_absolute_url }}">{{ link.title }}</a></div>
	          		{% endfor %}
	          	</div>



	          	<div class="col-xs-4">
	          		{% for link in serviceSM.items|slice:"200:" %}
	          			<div><a href="{{ link.get_absolute_url }}">{{ link.title }}</a></div>
	          		{% endfor %}
	          	</div>
	     </div>
	      </div>
	    </div>
    </div>
</section>

<section>
    <div class="container">
	    <div class="row">
	      <div class="col-xs-12">
	          <h1 class="lg">Статьи</h1>
	          <div class="row">
	          	<div class="col-xs-4">
	          		{% for link in articelSM.items|slice:":100" %}
	          			<div><a href="{{ link.get_absolute_url }}">{{ link.title }}</a></div>
	          		{% endfor %}
	          	</div>
	          
	
	          	<div class="col-xs-4">
	          		{% for link in articelSM.items|slice:"100:200" %}
	          			<div><a href="{{ link.get_absolute_url }}">{{ link.title }}</a></div>
	          		{% endfor %}
	          	</div>



	          	<div class="col-xs-4">
	          		{% for link in articelSM.items|slice:"200:" %}
	          			<div><a href="{{ link.get_absolute_url }}">{{ link.title }}</a></div>
	          		{% endfor %}
	          	</div>
	     </div>
	      </div>
	    </div>
    </div>
</section>

{% endblock %}
