{% extends 'base_2col.html' %}
{% load page_tags docent_help_tags %}

{% block leftCol %}
	{% if request.path == '/story_of_company' %}
	<div class="years static_menu">
	<p class="h2">Года</p>
		<ul>
			<li  class="1_div active"><a href="#1_div">1995</a></li>
			<li  class="2_div"><a href="#2_div">1998</a></li>
			<li  class="3_div"><a href="#3_div">2000</a></li>
			<li  class="4_div"><a href="#4_div">2003</a></li>
			<li  class="5_div"><a href="#5_div">2004</a></li>
			<li  class="6_div"><a href="#6_div">2005</a></li>
			<li  class="7_div"><a href="#7_div">2006</a></li>
			<li  class="8_div"><a href="#8_div">2007</a></li>
			<li  class="9_div"><a href="#9_div">2008</a></li>
			<li class="10_div"><a href="#10_div" >2009</a></li>
			<li class="11_div"><a href="#11_div" >2010</a></li>
			<li class="12_div"><a href="#12_div" >2011</a></li>
			<li class="13_div"><a href="#13_div" >2012</a></li>
			<li class="14_div"><a href="#14_div" >2014</a></li>
			<li class="15_div"><a href="#15_div" >2015</a></li>
		</ul>
	</div>
	{% else %}
	{% if user.is_authenticated %}
	<div class="static_menu">
		<p class="h2">Личный кабинет</p>
		{% actions my_account %}
		<ul>
		 {% for action in actions %}
                {% if action.selected %}
                <li class="active"><a href="{{ action.link }}">{{ action.title }}</a></li>
                {% else %}
                <li><a href="{{ action.link }}">{{ action.title }}</a></li>
                {% endif %}
            {% endfor %}
		</ul>
	</div>
	{% endif %}
	
	<div class="static_menu">
		<p class="h2">Наша компания</p>
		{% actions levoe-menyu %}
		<ul>
		 {% for action in actions %}
                {% if action.selected %}
                <li class="active"><a href="{{ action.link }}">{{ action.title }}</a></li>
                {% else %}
                <li><a href="{{ action.link }}">{{ action.title }}</a></li>
                {% endif %}
            {% endfor %}
		</ul>
	</div>
	{% endif %}
{% endblock %}