{% extends 'info_pages/info_page_base.html' %}

{% block rightCol %}
    <h1>Адреса магазинов</h1>

    <table class="shops">
        <tr class="sepTop">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% for shop in shops %}
        {% cycle '<tr>' '' '' %}
            <td>
                <h2 class="name">{{ shop.shop_name }}</h2>
                <p>{{ shop.address }}</p>
                {% for phone in shop.phones.all %}
                <p class="shopPhone">Тел. {{ phone.phone_number }}</p>
                {% endfor %}
            </td>
        {% cycle '' '' '</tr>' %}
        {% endfor %}
    </table>
{% endblock %}