tr.loader{
	display: none;
	  position: absolute;
  	top: 219px;
  	left: 340px;
}
div.catalog_container{
	margin-bottom: 30px;
}
input.qty:hover{
	cursor: pointer;
}
.purchase {
	padding: 11px 11px 11px 24px;
}
div.__all__{
	color: #ee691e;
	position: absolute;
  	text-align: center;
  	font-size: 12px;
  	margin-top: 12px;
}
div.NoInputErrors{
	//display: none;
}
.dnone{
	display: none;
}
.dblock{
	display: block;
}
p.rText{
	text-align: right;
	font-size: 12px;
}

#loader {
	display: none;
  position:fixed; 
  height:100%; 
  width:100%;
  top:0;
  left:0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10000;
}
p.pre_loader {
  position: absolute;
  left: 49%;
  top: 45%;
}
#loader span {
  display: block;
  position: absolute;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: default;
  z-index: 13;
  top: 260px;
  right: 0;
  bottom: 0;
  left: 600px;
  margin: auto;
}
form.my_office input[type="radio"]{
    margin-left: 200px;
    margin-right: 10px;
    float: left;
    display: block;
    width: 10px;
    vertical-align: baseline;
}
form.my_office label.big_l{
    display: inline-block;
    width: 209px;
    text-align: left;
    margin-right: 8px;
    margin-top: 2px;
    vertical-align: middle;
    cursor: pointer;
}
form.reg_enter input[type='password']{
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border: 1px solid #cccccc;
}

input.error {
  border: 1px solid #ee6a6a !important;
  background: url('/media/static/images/spriter.png?57d58e8c2014')no-repeat right -18px top -460px #fff3f3 !important;
  box-shadow: 0px 0px 7px 0px #ee6a6a !important;
}
div.success{
  display: none;
  text-align: center;
  margin: 15px auto;
}
.searchHelp, .searchHelpBottom {
  display: none;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 2px 2px #cecece;
  -webkit-box-shadow: 0 2px 2px #cecece;
  box-shadow: 0 2px 2px #cecece;
  position: absolute;
  left: -15px;
  width: 100%;
  padding: 1px 18px 25px;
  z-index: 1000;
}
table.sear{
  width: 100%;
}
table.sear td.image{
  width: 10%;
  padding: 5px; 
}
table.sear td.description{
  width: 60%;
}
table.sear td.price{
  width: 30%;
  text-align: right;
}
table.sear tr{
  margin-bottom: 10px;
  border-spacing: 7px 11px; 
}
table.sear p.all{
  margin-top: 15px;
}
.add_cart_card{
  margin-top: -15px;
}
div.card_product p.card_price{
  float: left;
}
.fleft{
  float: left;
}
.mr10{
  margin-right: 10px;
}
.group label{
  cursor: pointer;
}
div.null_div{
  margin: 50px auto;
}