{% extends 'gblocks/gblock_base.html' %}
{% load thumbnail %}

{% block body %}
{% with object.title as title %}
{#    <a href="{{ object.link }}" title="{{ title }}">#}
{#        {% thumbnail object.image '329x237' crop='center' format='PNG' as im %}#}
{#        <img class="fl" src="{{ im.url }}" width="329" height="237" title="{{ title }}" alt="{{ title }}" />#}
{#        {% endthumbnail %}#}
{#    </a>#}
    {% if object.title or object.image or object.text %}
        <h2>Наш выбор</h2>
        {% thumbnail object.image '320' format='PNG' as im %}
        <a href="{{ object.link }}"><img src="{{ im.url }}" alt="{{ title }}" title="{{ title }}"></a>
        {% endthumbnail %}
        <p class="name"><a href="{{ object.link }}">{{ title|safe }}</a></p>
        <p>{{ object.text|safe }}</p>
    {% endif %}
{% endwith %}
{% endblock %}