{% extends 'gblocks/gblock_base.html' %}

{% block body %}
    {% if object.title %}<li class="{{ object.class_name }}"><h6>{{ object.title|safe }}</h6></li>{% endif %}
    {% if object.text|striptags %}
        {{ object.text|safe }}
    {% else %}
        {% if admin_url %}
        <ul style="padding: 5px 0 5px 0"></ul>
        {% endif %}
    {% endif %}
{% endblock %}