{% load thumbnail lfs_tags docent_help_tags %}

{% if products %}
<table class="sear catalog">
     <tr>
    <td class="t_cart_photo">Фото</td>
    <td class="cat_name">Наименование</td>
    <td class="cat_price">Цена</td>
    <td class="cat_presence">Наличие</td>
    <td class="cat_add_cart">В корзину</td>
  </tr>
    {% for product in products %}
    <tr>
        <td class="t_cart_photo">
            {% thumbnail product.get_image "40x40" as im %}
                <img src="{{ im.url }}"
                     alt="{{ product.name }}"
                     title="{{ product.name }}" />
            {% endthumbnail %}
            {% thumbnail product.get_image "300x300" as im %}
                <img class="zoom_photo"
                src="{{ im.url }}"
                alt="{{ product.name }}"
                title="{{ product.name }}" />
            {% endthumbnail %}
        </td>

        <td class="cat_name">
            {% if product.description %}
                <a href="{% url 'product' slug=product.slug %}">{{ product.name }}</a>
            {% else %}
            {{ product.name }}
            {% endif %}
        </td>

        {% if product.hide_price %}
            <td class="cat_price">по&nbsp;запросу</td>
                {% else %}
            <td class="cat_price">{{ product.get_price|currency  }}<span class="rubl">o</span></td>
        {% endif %}

        <td class="cat_presence">
            {% if product.is_available %} есть {% else %}
                нет в наличии
            {% endif %}
        </td>
    

    {% if product.hide_price %}
     <td class="add_cart">
       <button data-product="{{ product.pk }}" class="learn_price_table learn_price">Узнать цену</button>
     </td>
    {% else %}
      <td class="add_cart">
        <div class="number">    <!--            
          <input type="text" class="buy_{{ product.pk }}" value="1">
          <span class="plus"></span>
          <span class="minus"></span>
          -->
        </div>
        <button id="buy_{{ product.pk }}" class="add_cart_table buy" href="{% url 'add_to_cart' product_id=product.pk %}"></button>
      </td>
    {% endif %}
    </tr>
    {% endfor %}   
</table>
 <p class="all"><a href="" id="show_all">Показать все результаты ({{ total }})</a></p>
{% endif %}
