{% extends 'base.html' %}
{% load thumbnail pagination_tags docent_help_tags lfs_tags  pytils_numeral %}
{% block breadcrumbs %}
<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li class="active">Результаты поиска</li> 
  </ol>
</div>
{% endblock %}
{% block content %}
{% csrf_token %}
<section>
  <div class="container catalog_container">
   {% if q %}
    <div class="row">      
      <div class="col-xs-12">
        
        {% if total > 0 %}
          <h1 class="lg">По запросу "{{ q }}" {{ total|choose_plural:"найден, найдено, найдено" }} {{ total }} {{ total|choose_plural:"товар, товара, товаров" }}</h1>
        {% else %}
          <h1 class="lg">По запросу "{{ q }}" {{ total|choose_plural:"найден, найдено, найдено" }} {{ total }} {{ total|choose_plural:"товар, товара, товаров" }}. Измените поисковый запрос</h1>
        {% endif %}

      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">     
      {% if tech_info %}    
        <div class="filter">
          <p class="h2">Подбор по параметрам</p>
          {% regroup tech_info by name as categ_list %}
            {% for cat in categ_list %}
            <div class="group">
            <p><b>{{ cat.grouper }}</b></p>
                {% for item in cat.list %}
                {% if forloop.counter >= 5 %}
                  <p class="dnone">
                    <input class="filter_check" type="checkbox" name="{{ cat.grouper }}" value="{{ item.value|safe }}" href="{% url 'docent_search' %}?q={{request.GET.q}}" id="{{ item.pk }}">
                    <label for="{{ item.pk }}">{{ item.value|safe }}</label>
                  </p>
                {% else %}
                  <p>
                    <input class="filter_check" type="checkbox" name="{{ cat.grouper }}" value="{{ item.value|safe }}" href="{% url 'docent_search' %}?q={{request.GET.q}}" id="{{ item.pk }}">
                    <label for="{{ item.pk }}">{{ item.value|safe }}</label>
                  </p>
                {% endif %}
                
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
        {% if total > 0 %}
        <div class="sidebar_map">
          <img src="{{ STATIC_URL }}images/sidebar_map.png" height="137" width="234" alt="">
          <a href="{% url 'docent_map' %}" class="link">Найти ближайший филиал</a>
        </div>
        {% endif %}  
             
      </div>
      <div class="col-xs-9 cat" id="docent_ajax">
        {% if total > 0 %}
          {% include 'catalog/product_list.html' %}
          {% include 'catalog/panel.html' %}
        {% endif %}

       </div>
    </div>

  {% else %}
  <div class="row">      
      <div class="col-xs-12">
        <h1 class="lg">По пустому запросу ничего не найдено</h1>
      </div>
    </div>
  {% endif%}
  </div>
</section>

{% endblock %}