{% extends 'info_pages/info_page_base.html' %}
{% load thumbnail docent_help_tags i18n pagination_tags %}

{% block breadcrumbs %}
<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li class="active">Фотогалерея</li> 
  </ol>
</div>
{% endblock %}

{% block rightCol %}
<div class="article">
    <h1>Фотогалерея</h1>
    <div class="album clear">
        {% for n in album_list %}
           	<div class="col-xs-4">
                {% thumbnail n.image "249x249" crop='center' as im %}                        
                    <a class="image_album" href="{% url 'album_detail' slug=n.slug %}">
                        <img src="{{ im.url }}" title="{{ n.title|striptags }}" alt="{{ n.title|striptags }}">
                        <span class="title_album">{{ n.name }}</span>
                    </a>
                {% endthumbnail %}
                 <!--<a  href="{% url 'album_detail' slug=n.slug %}"></a>
                <p><span>{{ n.description }}</span></p> -->
    		</div>
        {% endfor %}   
    </div>
</div>
{% endblock %}