{% extends 'info_pages/info_page_base.html' %}
{% load thumbnail docent_help_tags i18n pagination_tags %}

{% block breadcrumbs %}
<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li><a href="{% url 'album_list' %}">Фотогалерея</a></li>
    <li class="active">{{ album.name }}</li> 
  </ol>
</div>
{% endblock %}
{% block rightCol %}
<div class="article">
    <h1>{{ album.name }}</h1>
    <div class="album_detail">
        {% if photo_list %}
            {% for n in photo_list %}
               	<div class="col-xs-4">
	               	<a data-lightbox="example-set" 
	               {% thumbnail n.image "940x604" format='PNG' as im1 %}
	                href="{{ im1.url }}">
	                {% endthumbnail %}
	                   {% thumbnail n.image "270x180" format='PNG' crop='center' as im %}
	                      <img src="{{ im.url }}" alt="{{ image.title }}" title="{{ image.title }}">
	                       {% endthumbnail %}
	              	</a>
	              	<!-- <span>{{ n.title }}</span> -->
                </div>
            {% endfor %}
        {% else %}
        	<div class="col-xs-9">
        		В данную галерею фото еще не загружены...
        	</div>
        {% endif %}  
    </div>
</div>

{% endblock %}