{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins/css/grid.css" />
{% endblock %}

{% block bodyclass %}{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="../../">
                {% trans "Home" %}
            </a>
            &rsaquo; Свойства &mdash; назначить свойства товарам
        </div>
    {% endblock %}
{% endif %}

{% block coltype %}{% endblock %}

{% block content %}
    <div id="content-main">
        <div class="grid-12-12">Выбрано товаров: {{ queryset.count }}</div>

        <form method="POST" action="{% url 'admin:bind_property_options_to_product' %}">{% csrf_token %}
            {% for p in queryset %}
                <input type="hidden" name="product" value="{{ p.pk }}">
            {% endfor %}

            {% for prop in properties %}
                <div class="grid-4-12">
                    <h3>{{ prop.title }}</h3>
                    <ul>
                        {% for option in prop.options.all|dictsort:"name" %}
                            <li>
                                <input type="checkbox" id="id_propertyoption_{{option.id}}" name="propertyoption"
                                       value="{{option.id}}"/>
                                <label for="id_propertyoption_{{option.id}}">{{ option.name }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}

            <div class="grid-12-12">
                <button type="submit">Связать</button>
            </div>
        </form>

    </div>
{% endblock %}
