{% extends "admin/base_site.html" %}
{% load i18n admin_modify %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ecko/css/tabs-jqtools.css">
<style type="text/css">
form .aligned table p {
    margin-left: 0;
    padding-left: 0;
    overflow: auto;
}
#id_categories{
    height: 350px;
width: 298px;
}
</style>
<script src="{{ STATIC_URL }}ecko/jquery/jquery_1.6.4.min.js" type="text/javascript"></script>
<script src="http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js" type="text/javascript"></script>
{#<script src="http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js"></script>#}
<script type="text/javascript">
$(function() {
    $("#flowtabs").tabs("#flowpanes > div", { history: true });
    var add_index = 0;


    {% if is_change_view %}
    $('#add_variant').click(function(){
        $.ajax({
            url: '{% url "admin:product_variant_edit_tr" object_id %}',
            success: function(data){
                var new_tr = $(data);
                new_tr.find('td').addClass('new');

                // обработка полей свойств при добавлении строки
                $('#variants_table tbody').append(new_tr);
                $('#variants_table select[name^="v_0"]').each(function(i){
                    var name = $(this).attr('name');
                    $(this).attr('name', name.replace('v_0', 'v_a' + add_index));
                });
                add_index += 1;

                // вычесляем текущий индекс формы, кол-во форм -1 +1 = кол-во форм
                var new_form_index = $('#id_form-TOTAL_FORMS').val();

                // обработка полей приходящей фотрмы при добавлении строки для последующей успешной обработки этих полей формсетом
                $('#variants_table td.new input[type="text"]').each(function(i){
                    var name = $(this).attr('name');
                    $(this).attr('name', 'form-' + new_form_index + '-' + name);
                    $(this).attr('id', 'id_form-' + new_form_index + '-' + name);
                });

                // удаляем пометку новая со строки
                $('#variants_table td.new').removeClass('new');

                // увеличиваем итоговое кол-во форм на 1
                $('#id_form-TOTAL_FORMS').val(parseInt(new_form_index) + 1);
            }
        });
        return false;
    });
    {% endif %}

    $('.delete_variant').live('click', function(){
        var $link = $(this);
        var url = $link.attr('href');
        $.ajax({
            url: url,
            success: function(){
                $link.parent().parent().remove();
                $('#id_form-TOTAL_FORMS').val($('#id_form-TOTAL_FORMS').val() - 1);
                $('#id_form-INITIAL_FORMS').val($('#id_form-INITIAL_FORMS').val() - 1);
            }
        });
        return false;
    });

    var category = $("#id_categories").val()



    $("#id_short_name").live("click",function(){
        var val = $("#id_name").val().split("(")[0];
        $(this).val(val);
    });



    
});
</script>

<script type="text/javascript">

    function in_array(value, array) 
    {
        for(var i = 0; i < array.length; i++) 
        {
        if(array[i] == value) return true;
         }
        return false;
    }
    function getFullName(category){
        var word_ar = ['ы','и'];
        var fName = '';
        if(category.length < 15){
            switch(category){
                case "Видеокамеры":
                    fName = "Видеокамера";
                    break;
                case "Электробритвы":
                    fName = "Электробритва";
                    break;
                case "Услуги":
                    fName = "Услуга";
                    break;
                case "Игрушки":
                    fName = "Игрушки";
                    break;
                default:
                    if(in_array(category[category.length-1],word_ar)){
                         fName = category.substr(0,category.length-1);
                    }else{
                         fName = category;
                    }
                    break;
                }

        }else{
            switch(category){
                case "Настольные компьютеры":
                    fName = "Настольный компьютер";
                    break;
                case "Системные блоки":
                    fName = "Системный блок";
                    break;

                case "Графические планшеты":
                    fName = "Планшет";
                    break;
                case "Игровые приставки":
                    fName = "Игровая приставка";
                    break;
                case "Электронные книги":
                    fName = "Электронная книга";
                    break;
                case "Устройства ввода":
                    fName = "Устройство ввода";
                    break;
                default:
                    fName = category;
                    break;
            }
        }
        return fName;
    }

</script>
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/static/admin/css/forms.css" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}


<!-- the panes are defined normally, no need for labels -->
<div id="flowpanes">

    <div id="content-main">
        {% block object-tools %}
        {% if change %}{% if not is_popup %}
          <ul class="object-tools">
              <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
          {% if has_absolute_url %}
              <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">
              {% trans "View on site" %}</a></li>
          {% endif%}
          </ul>
        {% endif %}{% endif %}
        {% endblock %}
        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
        <div>
        {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
        {% if save_on_top %}{% submit_row %}{% endif %}
        {% if errors %}
            <p class="errornote">
            {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
            </p>
            {{ adminform.form.non_field_errors }}
        {% endif %}

        {% for fieldset in adminform %}
          {% include "admin/includes/fieldset.html" %}
        {% endfor %}

        {% block after_field_sets %}{% endblock %}

        {% for inline_admin_formset in inline_admin_formsets %}
            {% include inline_admin_formset.opts.template %}
        {% endfor %}

        {% block after_related_objects %}{% endblock %}

        {% submit_row %}

        {% if adminform and add %}
           <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
        {% endif %}

        {# JavaScript for prepopulated fields #}
        {% prepopulated_fields_js %}

        </div>
        </form>
    </div>

</div>



{% endblock %}