{% extends "admin/change_list.html" %}
{% load admin_list i18n  %}

{% block filters %}
    {% if cl.has_filters %}
      <div id="changelist-filter">
        <h2>{% trans 'Filter' %}</h2>
        {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
      </div>
    {% endif %}
{% endblock %}

