{% extends "admin/base_site.html" %}

{% block extrastyle %}
{{ block.super }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{% endblock %}

{% block content %}
<div id="content-main">
    <p>выбрано товаров: {{ queryset.count }}</p>

    <form method="POST" action="{% url 'ecko_admin_create_sale' %}">{% csrf_token %}
        {% for product in queryset %}
            <input type="hidden" name="products" value="{{ product.pk }}">
        {% endfor %}
        {{ form.as_p }}
        <button type="submit">Назначить</button>
    </form>

</div>
{% endblock %}
