{% load i18n docent_help_tags %}
<style type="text/css">
	li.main{
	margin:10px auto !important;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	disabled:disabled;

}
#changelist-filter li.selected {
	border-left: none;
}
.disabled {
   pointer-events: none;
   cursor: default;
}
</style>
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<ul>
{% for choice in choices %}
    <li {% if 'br' in choice.display or choice.display == 'Телефоны' %}class="main disabled {% if choice.selected %} selected{% endif %}"{% endif %}>
    <a href="{{ choice.query_string|iriencode }}">{{ choice.display|replace_br }}</a></li>
{% endfor %}
</ul>
