{% extends "admin/base_site.html" %}

{% block extrastyle %}
{{ block.super }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{% endblock %}

{% block content %}
<div id="content-main">
    <p>выбрано товаров: {{ queryset.count }}</p>

    <form method="POST" action="{% url 'ecko_admin_remove_sale' %}">{% csrf_token %}
        {% for product in queryset %}
            <input type="hidden" name="products" value="{{ product.pk }}">
        {% endfor %}
{#        {{ form.as_p }}#}
         Убрать из распродаж и сбросить цену со скидкой <button type="submit">Применить</button>
    </form>

</div>
{% endblock %}
