<tr>
    <td><a class="changelink" href="{% url 'admin:catalog_product_change' variant.pk %}"><span class="icon">&nbsp;</span></a></td>
    {% for field in variant.form %}
    {% if not field.is_hidden %}
    <td>{{ field }}</td>
    {% else %}
        {{ field }}
    {% endif %}
    {% endfor %}
    {% for prop in variant.props %}
    {% if prop.type == PROPERTY_SELECT_FIELD %}
    <td>
        <select name="v_{{ variant.pk }}"> {# _property_{{ prop.pk }} #}
            <option value="">-------</option>
            {% for option in prop.opts %}
                <option value="{{ prop.pk }}_{{ option.pk }}"
                        {% if option.selected %}selected="selected"{% endif %}>{{ option }}</option>
            {% endfor %}
        </select>
    </td>
    {% endif %}
    {% endfor %}
    <td><a class="delete_variant" href="{% url 'admin:product_delete_variant' variant.pk %}">X</a></td>
</tr>