<div id="modal_callback" class="modal_w">
  <p class="h1 lg">Закажите звонок</p>
  <div class="success"><b>Благодарим Вас!</b><br>Менеджер перезвонит Вам в течение нескольких минут</div>
  <form action="{% url 'call_me_please' %}" method="POST"  class="call">{% csrf_token %}  
    <div class="clear">
      <label for="email_enter">Ваше имя</label>        
      {{ form.name }}      
    </div>
    <div class="clear">
      <label for="password_enter">Телефон</label>        
      {{ form.phone }}      
    </div>
    <input type="submit" class="one_c" value="Заказать">   
  </form>
</div>