<table class="table table-bordered colleagues">
	<tbody>
		<tr class="info">
			<td>Сотрудник </td>
			<td>Должность</td>
			<td>Направление</td>
			<td>Телефоны</td>
			<td>Телефон (моб.)</td>
			<td>Эл. почта</td>
		</tr>
		{% for manager in managers %}
		<tr>
			<td>{{ manager.fio }}</td>
			<td>{{ manager.worker }}</td>
			<td>{{ manager.vector }}</td>
			<td>{% for phone in manager.get_manager_phones %}
					{{ phone.number }}<br>
				{% endfor %}
			</td>
			<td>{{ manager.phone }}</td>
			<td><a href="mailto:{{ manager.email }}">{{ manager.email }}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
