{% load page_tags %}

{% actions menu_one %}
{% for action in actions %}
    {% if action.selected %}
    <li class="select"><a href="{{ action.link }}" {% if action.target %} target="_blank" {% endif%}><span>{{ action.title }}</span></a></li>
    {% else %}
    <li><a href="{{ action.link }}" {% if action.target %} target="_blank" {% endif%}>{{ action.title }}</a></li>
    {% endif %}
{% endfor %}