{% extends 'info_pages/info_page_base.html' %}
{% load i18n page_tags thumbnail %}
{% block seo %}
<title>Наши партнеры</title>
{% endblock %}
{% block breadcrumbs %}
<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li class="active">Партнеры</li> 
  </ol>
</div>
{% endblock %}

{% block rightCol %}
<div class="article">
	<h2 class="catalog_h">Партнеры</h2>
	<div class="article_txt">
		<div class="row">
	    {% for partner in partners_list %}
	    	<div class="col-xs-3">
	    		<noindex> 
	    		<a class="partners" href="{{ partner.link }}" rel="nofollow" target="_blank"> 
	    		 	{% thumbnail partner.image "200x80"  format="PNG" as im %}
	              		<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
	            	{% endthumbnail %}
	    			<span>{{ partner.name }}</span> 
	    		</a> 
	    		</noindex>
	    	</div>
	    {% endfor %}
	    </div>
    </div>
</div>
{% endblock %}

