    <div id="popover_all">
        <div id="popover_price"  class="popover_price">
          <div class="hide_modal">
            <p class="info_form p_insert" id="title_for_product">
            &nbsp;
          </p>  
          </div> 
          <div class="success">
            <p class="h1 lg">Благодарим Вас!</p>
            <p class="info_form">Менеджер перезвонит Вам в течение нескольких минут</p>
          </div>
            <form action="{% url 'request_price_product' %}"  id="req_pr_form">{% csrf_token %}  
              <input type="hidden" name="product" value="">  
                <div class="clear">
                  <label for="tel_enter_order">Телефон</label>
                  <input type="phone" name="phone" id="popover_phone">    
                </div>
              <input 
                type="submit" 
                id="request_product" 
                value="Отправить заявку"
                onclick="yaCounter27421565.reachGoal('get_price_form'); return true;">
            </form>
        </div>
    </div>
