{% for shop in shops %}
<div id="filial_{{ shop.pk }}" class="message-box">
    <h2>{{ shop.city.name }}</h2>
    <h3>Адрес</h3>
    {{ shop.address}}
    <h3>Телефон</h3>
  	{% for phone in shop.get_shop_phones %}
  		{{ phone.number }}&nbsp;
  	{% endfor %}
    <h3>Эл. почта</h3>
    <a href="mailto:{{ shop.email }}">{{ shop.email }}</a>
</div>
{% endfor %}