{% extends 'info_pages/info_page_base.html' %}
{% load thumbnail docent_help_tags i18n pagination_tags %}
{% block breadcrumbs %}
<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li class="active">Видеогалерея</li> 
  </ol>
</div>
{% endblock %}
{% block rightCol %}


<script>
new WOW().init();
$(window).scroll(function() {    
    var scroll = $(window).scrollTop();
    if (scroll >= 200) {
        $(".years").addClass('yearsfix');
    }
    else {$(".years").removeClass('yearsfix');}
});

</script>
<script type="text/javascript">
$(document).ready(function() {
    $(".years a").click(function() {
        $("html, body").animate({
            scrollTop: $($(this).attr("href")).offset().top + "px"
        }, {
            duration: 500
        });
        return false;
    });
});
</script>
    <script>
jQuery(function ($) {
    $(window).scroll(function(){
        $(".hist").each(function () {
          var window_top = $(window).scrollTop();
          var div_top = $(this).offset().top;
          var div_1 = $(this).attr('id');
            if (window_top > div_top - 120){
                $('.years').find('li').removeClass('active');
                $('.years').find('li[class="'+div_1+'"]').addClass('active');
            }
            else{
                $('.years').find('li[class="'+div_1+'"]').removeClass('active');
                };
        });
	});
});
</script>
<h1>История компании</h1>
<div class="row history">

<div class="col-xs-12">
	<p style="margin-bottom: 80px;">Организация ООО «Трактороцентр» основана в 1995 году. Предприятие создавалось, как поставщик запасных частей <br>к отечественным тракторам и сельхозтехнике.</p>
</div>

	<div class="col-xs-offset-6 col-xs-6">
		<div class="r_hist hist"  id="1_div" style="padding-top: 25px;">
			<div class="circle fadeInLeft wow" data-wow-offset="100" style="top: 39px;"><img src="{{ STATIC_URL }}images/circle.png" alt=""></div>
			<div class="step_his fadeInRight wow" data-wow-offset="100">
				<span>1995</span>
				<p>Подписан дилерский договор с ООО «ЧТЗ-УРАЛТРАК» – одним из крупнейших тракторных заводов.</p>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="l_hist hist"  id="2_div">
			<div class="circle fadeInRight wow" data-wow-offset="100"><img src="{{ STATIC_URL }}images/circle.png" alt=""></div>
		<div class="step_his fadeInLeft wow" data-wow-offset="100">
			<span>1998</span>
			<p>Подписан дилерский договор с ведущим производителем деталей  ходовых систем – <br>ОАО «Чебоксарский агрегатный завод».</p>
		</div>
		</div>
	</div>
	<div class="col-xs-offset-6 col-xs-6">
		<div class="r_hist hist"  id="3_div">
			<div class="circle fadeInLeft wow" data-wow-offset="100"><img src="{{ STATIC_URL }}images/circle.png" alt=""></div>
			<div class="step_his fadeInRight wow" data-wow-offset="100">
				<span>2000</span>
				<p>Подписан дилерский договор с ОАО «Гидросила», занимающимся производством компонентов гидросистем для тракторов и спецтехники.</p>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="l_hist hist"  id="4_div">
			<div class="circle fadeInRight wow" data-wow-offset="100"><img src="{{ STATIC_URL }}images/circle.png" alt=""></div>
		<div class="step_his fadeInLeft wow" data-wow-offset="100">
			<span>2003</span>
			<p>Открыт филиал в г. Тотьма Вологодской области.</p>
			<img src="{{ STATIC_URL }}images/his1.jpg" alt="">
			<img src="{{ STATIC_URL }}images/his2.jpg" alt="">
		</div>
		</div>
	</div>
	<div class="col-xs-offset-6 col-xs-6">
		<div class="r_hist hist"  id="5_div">
			<div class="circle fadeInLeft wow" data-wow-offset="100"><img src="{{ STATIC_URL }}images/circle.png" alt=""></div>
			<div class="step_his fadeInRight wow" data-wow-offset="100">
				<span>2004</span>
				<p>Открыт филиал в г. Череповец Вологодской области.</p>
				<img src="{{ STATIC_URL }}images/his3.jpg" alt="">
				<img src="{{ STATIC_URL }}images/his4.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="l_hist hist"  id="6_div">
			<div class="circle fadeInRight wow" data-wow-offset="100"><img src="{{ STATIC_URL }}images/circle.png" alt=""></div>
		<div class="step_his fadeInLeft wow" data-wow-offset="100">
			<span>2005</span>
			<p>Подписан дилерский договор с крупнейшим в России производителем деталей цилиндропоршневой группы ОАО «Мотордеталь» (г. Кострома).</p>
		</div>
		</div>
	</div>
	<div class="col-xs-offset-6 col-xs-6">
		<div class="r_hist hist"  id="7_div">
			<div class="circle fadeInLeft wow" data-wow-offset="100"><img src="{{ STATIC_URL }}images/circle.png" alt=""></div>
			<div class="step_his fadeInRight wow" data-wow-offset="100">
				<span>2006</span>
				<p>Подписан договор с Холдинговой компанией «Подъёмные машины». В состав холдинга входят такие предприятия, как «Велмаш» и «Соломбальский машиностроительный завод», а большая часть активов холдинга принадлежит концерну Palfinger Group. ООО «Трактороцентр» является сертифицированным сервисным центром по гарантии, техническому обслуживанию и ремонту манипуляторов.</p> 
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="l_hist hist"  id="8_div">
			<div class="circle fadeInRight wow" data-wow-offset="100"><img src="{{ STATIC_URL }}images/circle.png" alt=""></div>
		<div class="step_his fadeInLeft wow" data-wow-offset="100">
			<span>2007</span>
			<p>Открыт первый в Архангельской области филиал ООО «Трактороцентр» в г. Вельск.</p>
			<img src="{{ STATIC_URL }}images/his5.jpg" alt="">
			<img src="{{ STATIC_URL }}images/his6.jpg" alt="">
		</div>
		</div>
	</div>
	<div class="col-xs-offset-6 col-xs-6">
		<div class="r_hist hist"  id="9_div">
			<div class="circle fadeInLeft wow" data-wow-offset="100"><img src="{{ STATIC_URL }}images/circle.png" alt=""></div>
			<div class="step_his fadeInRight wow" data-wow-offset="100">
				<span>2008</span>
				<p>Подписан дистрибьюторский договор с ООО «ТД ЕПК» – крупным российским производителем подшипников.</p> 
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="l_hist hist"  id="10_div">
			<div class="circle fadeInRight wow" data-wow-offset="100"><img src="{{ STATIC_URL }}images/circle.png" alt=""></div>
		<div class="step_his fadeInLeft wow" data-wow-offset="100">
			<span>2009</span>
			<p>Подписан дилерский договор с компанией ООО «СИБУР – русские шины».</p>			
			<p>Открыт филиал в г. Великий Устюг Вологодской области.</p>
			<img src="{{ STATIC_URL }}images/his7.jpg" alt="">
			<img src="{{ STATIC_URL }}images/his8.jpg" alt="">
			<p>Открыт филиал в г. Архангельск. </p>
			<img src="{{ STATIC_URL }}images/his9.jpg" alt="">
			<img src="{{ STATIC_URL }}images/his10.jpg" alt="">
		</div>
		</div>
	</div>
	<div class="col-xs-offset-6 col-xs-6">
		<div class="r_hist hist"  id="11_div">
			<div class="circle fadeInLeft wow" data-wow-offset="100"><img src="{{ STATIC_URL }}images/circle.png" alt=""></div>
			<div class="step_his fadeInRight wow" data-wow-offset="100">
				<span>2010</span>
				<p>Подписан дилерский договор с Delfin Group – крупнейшим производителем автомобильных масел и технических жидкостей.</p> 
				<p>Открыт филиал в г. Плесецк Архангельской области.</p>

			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="l_hist hist"  id="12_div">
			<div class="circle fadeInRight wow" data-wow-offset="100"><img src="{{ STATIC_URL }}images/circle.png" alt=""></div>
			<div class="step_his fadeInLeft wow" data-wow-offset="100">
				<span>2011</span>
				<p>Подписан дилерский договор с ОАО «Пневмостроймашина», являющегося российским лидером в конструировании, производстве и продаже аксиально-поршневых гидромоторов и гидронасосов, а также гидроклапанной аппаратуры. </p>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-6 col-xs-6">
		<div class="r_hist hist"  id="13_div">
			<div class="circle fadeInLeft wow" data-wow-offset="100"><img src="{{ STATIC_URL }}images/circle.png" alt=""></div>
			<div class="step_his fadeInRight wow" data-wow-offset="100">
				<span>2012</span>
				<p>Подписан дилерский договор с ООО «ЛЛК-Интернешнл» на поставку смазочных материалов торговой марки Teboil.</p>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="l_hist hist"  id="14_div">
			<div class="circle fadeInRight wow" data-wow-offset="100"><img src="{{ STATIC_URL }}images/circle.png" alt=""></div>
			<div class="step_his fadeInLeft wow" data-wow-offset="100">
				<span>2014</span>
				<p>Подписан дилерский договор с Корпорации «Джон Дир Агрикалчерэл Холдингз, Инк.» по реализации и обслуживанию сельскохозяйственного оборудования John Deere по Вологодской, Архангельской, Ленинградской, Новгородской, Псковской областям и республики Карелия.</p>
				<p>Подписан дилерский договор с компанией Michelin.</p>
				<p>Открыт филиал в г. Никольск Вологодской области</p>
				<img src="{{ STATIC_URL }}images/his11.jpg" alt="">
				<img src="{{ STATIC_URL }}images/his12.jpg" alt="">
				<p>Открыт филиал в Санкт-Петербурге.</p> 
			</div>
		</div>
	</div>
	<div class="col-xs-offset-6 col-xs-6">
		<div class="r_hist hist"  id="15_div" style=" padding-bottom: 25px;">
			<div class="circle fadeInLeft wow" data-wow-offset="100"><img src="{{ STATIC_URL }}images/circle.png" alt=""></div>
			<div class="step_his fadeInRight wow" data-wow-offset="100">
				<span>2015</span>
				<p>Подписан дистрибьюторский договор на поставку техники MANITOU сельскохозяйственного назначения по Вологодской, Архангельской, Ленинградской, Новгородской, Псковской областям и республике Карелия.</p>
			</div>
		</div>
	</div>
</div>
<div class="row history">
	<div class="col-xs-12">
		<p>В настоящее время наша компания специализируется на оптовой и розничной торговле запасными частями к лесозаготовительной, дорожно-строительной, сельскохозяйственной и коммунальной технике отечественного и импортного производства. Предлагаем широкий спектр отечественных и импортных тракторов, полнокомплектной техники, а также навесного оборудования к ней. Развита достаточно широкая сеть <a href="/map">филиалов</a>. На данный момент наши филиалы работают в четырёх областях Северо-Западного федерального округа: Вологодской (Вологда, Великий Устюг, Вытегра, Никольск, Тотьма, Череповец), Архангельской (Архангельск, Вельск, Плесецк), Ленинградской (дер. Фёдоровское) и Новгородской (Великий Новгород).</p>
	</div>
</div>





































{% endblock %}