/* Field Grid */
.grid-1-12, .grid-2-12, .grid-3-12, .grid-4-12, .grid-5-12, .grid-6-12, .grid-7-12, .grid-8-12, .grid-9-12, .grid-10-12, .grid-11-12, .grid-12-12 {
display:inline; float:left; margin-left:1%; margin-right:1%;padding: 0.5% 0.5% 0.8%;height:100%;
/*ie7*/
*margin-left:.8%; *margin-right:.8%;*padding: 0.5% 0.25% 0.8%;
}


/* 12-column Grid (thanks for Fluid 960 Grid System) */
.grid-1-12 {width: 5.333%;}
.grid-2-12 {width: 13.666%;}
.grid-3-12 {width: 22%;}
.grid-4-12 {width: 30%;}
.grid-5-12 {width: 38.666%;}
.grid-6-12 {width: 47%;}
.grid-7-12 {width: 55.333%;}
.grid-8-12 {width: 63.666%;}
.grid-9-12 {width: 72%;}
.grid-10-12 {width: 80.333%;}
.grid-11-12 {width: 88.666%;}
.grid-12-12 {width: 97%;}

/* first item */ .alpha {margin-left:0;}
/* last item */ .omega {margin-right:0;}
/* clear */ .field-clear {clear:both;}

.grid-4-12 li { list-style: none;}
.grid-4-12 ul { padding: 0;}

.grid-4-12 li.strong { padding: 10px 0 0 0; font-weight: bold;}

.grid-4-12 > .manage-categories.treeview > li > label {
    color: blue;
}


/* temp style for admin */
div.product_details {
    border: 1px solid #667788;
    background-color: #D4D0C8;
    padding: 3px;
}

div.product_details img {
    float: left;
    padding-right: 3px;
}

ul li.show_details div.product_details {
    display: block;
}

ul li div.product_details {
    display: none;
}

.selected {
    font-weight: bold;
}

.update_tag, .get_products, .get_group {
    color: green !important;
}

ul.collapsed li {
    display: none;
}

.load_message {
    /*color: blue;*/
    /*font-weight: bold;*/
    /*border: solid 2px #000000;*/
    /*background-color: #808080;*/
    height: 50px;
    width: 200px;
    position:fixed;
    left:50%;
    top:50%;
    margin:-25px 0 0 -100px;
    /*line-height:50px;*/
    /*text-align: center;*/
}

.display_none {
    display: none;
}