<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    {% if warehouse %}
   	 	<li class="active">Склад товаров</li>
    {% else %}
	    {% if category.is_root_node %}
	   	 	<li class="active">{{ category.name }}</li>
	   	{% else %}
   			{% for cat in category.get_ancestors %}
   				<li><a href="{% url 'catalog_product_level' slug=cat.slug %}">{{ cat.name }}</a></li>
   			{% endfor %}
   			<li class="active">{{ category.name }}</li>
	    {% endif %}
	{% endif %}    
  </ol>
</div>