{% load  generic_flatblocks docent_help_tags cache page_tags pytils_numeral %}

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <div class="copy">
        {% gblock 'copyright' for 'gblocks.title' into 'copyright' %}
        {{ copyright.title|safe }}
          <a href="" class="call_back">{{ phone_one.title }}</a>
      </div>
      {% gblock 'bottom_text_2' for 'gblocks.text' into 'bottom_text_2' %}
      <small>{{ bottom_text_2.text|safe }}</small>
      </div>
      <div class="col-xs-2">
        <ul class="footer_menu">
        {% for cat in main_cats %}
          {% if cat.service %}
            <li><a href="/service/remont-tehniki">{{ cat.name }}</a></li>
          {% else %}
            <li><a href="{% url 'catalog_product_level' slug=cat.slug %}">{{ cat.name }}</a></li>
          {% endif %}

         
        {% endfor %}
        </ul>
       
      </div>
      <div class="col-xs-3">
        <ul class="footer_menu">
        {% actions menu_one %}
         {% for action in actions %}
          <li><a   {% if action.target %}target="_blank" {% endif%}
          href="{{ action.link }}">{{ action.title }}</a></li>
         {% endfor %}
        </ul>
      </div>
      <div class="col-xs-3">
        <p class="ps"><a href="http://place-start.ru/creation-sites/" target="_blank">Создание</a> и <a href="http://place-start.ru/seo/" target="_blank">продвижение сайта</a> – PlaceStart</p>
      </div>
    </div>
  </div>
</footer>