{% load thumbnail generic_flatblocks lfs_tags news_tags page_tags %}

<div class="products_menu">
<a data-parent="#accordion" {% if request.get_full_path != '/' %}class="collapsed" data-toggle="collapse" href="#products_menu"{% endif %}>О компании</a>

<ul id="products_menu" class="collapse  {% if request.get_full_path == '/' %}in {% endif %}"> 
{% actions levoe-menyu %}  
	{% for action in actions %}
	  	<li id="levoe_{{ forloop.counter}}">
	  		<a href="{{ action.link }}">{{ action.title }}</a>
		</li>
	{% endfor %} 
{% actions menu_one %}    
	{% for action in actions %}
		{% if action.link != '/' %}
		  	<li id="menu_one_{{ forloop.counter}}">
		  		<a {% if action.target %}target="_blank" {% endif%}
		  		href="{{ action.link }}">{{ action.title }}</a>
			</li>
		{% endif %}
	{% endfor %}


</ul>

</div>
