{% load thumbnail generic_flatblocks lfs_tags news_tags mptt_tags %}
<div class="menu">
  <p>Каталог товаров</p>
  <ul {% if request.path == '/' %} class="index" {% endif %}>
	{% for cat in cat_list %}
	    {% if cat.is_root_node %}
		    <li class="drop_menu"><a href="{% url 'level_one' level_one=cat.slug %}">{{ cat.name }}</a>
		    {% if cat.get_children %}
			    <ul>
			      {% for children in cat.get_children %}
			        <li><a href="{% url 'level_two' level_two=children.slug %}">{{ children.name }} ({{ children.get_descendant_count }})</a></li>
			        {% endfor %}
			    </ul>
		    {% endif %}
		    </li>
	    {% endif %}
    {% endfor %}
  </ul>
</div>