{% load thumbnail generic_flatblocks lfs_tags news_tags %}
<ul class="main_menu_inter">
    {% for cat in cats %}
        <li class="{{ cat.css }} col-xs-2">
        <a 
        {% if cat.this_is_text_cat %}
        	href="{{ cat.service.get_absolute_url }}"
        {% else %}
        	href="{% url 'catalog_product_level' slug=cat.slug %}"
        {% endif %}>{{ cat.name }}</a></li>
    {% endfor %}
</ul>
