{% extends "admin/change_form.html" %}

{% block object-tools-items %}
    {% if original.uuid %}
        <li><a href="https://online.moysklad.ru/app/#customerorder/edit?id={{ original.uuid }}" target="_blank" class="historylink">Перейти к заказу на моем складе</a></li>
    {% endif %}
    {{ block.super }}
{% endblock %}