{% extends 'base.html' %}
{% load thumbnail pagination_tags docent_help_tags lfs_tags mptt_tags seo  generic_flatblocks %}

{% block seo %}
  <title>{{ category.get_seo_title }}</title>
  <meta name="description" content="{{  category.get_seo_description }}"/>
{% endblock %}  
 
{% block breadcrumbs %}
  {% get_breadcrumbs 'catalog' category.slug %}
{% endblock %}
{% block content %}
<section>
  <div class="container catalog_container">
    <div class="row">      
      <div class="col-xs-12">
        <p class="h1 lg">{{ category.name }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">     
      {% if tech_info %}    
        <div class="filter">
          <p class="h2">Подбор по параметрам</p>
          {% regroup tech_info by name as categ_list %}
            {% for cat in categ_list %}
            <div class="group"><b>{{ cat.grouper }}</b></div>
                    
            

            <div class="group">

                {% for item in cat.list|dictsort:"value" %}
                  {% if forloop.counter >= 5 %}
                    <p class="dnone">
                      <input class="filter_check" type="checkbox" name="{{ cat.grouper }}" value="{{ item.value|safe }}" href="{{ category.get_absolute_url }}" id="{{ item.pk }}">
                      <label for="{{ item.pk }}">{{ item.value|safe|truncatechars:25 }}</label>
                    </p>
                  {% else %}
                    <p>
                      <input class="filter_check" type="checkbox" name="{{ cat.grouper }}" value="{{ item.value|safe }}" href="{{ category.get_absolute_url }}" id="{{ item.pk }}">
                      <label for="{{ item.pk }}">{{ item.value|safe|truncatechars:25 }}</label>
                    </p>
                  {% endif %}
                {% endfor %}
                {% if cat.list|length > 5 %}
                <a href="" class="show_more" onclick="yaCounter27421565.reachGoal('SHOW_MORE_BUTTON_GOAL'); return true;">Показать еще</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
         {% endif %}
        <div class="sidebar_map">
           <a href="{% url 'docent_map' %}"><img src="{{ STATIC_URL }}images/sidebar_map.png" height="137" width="234" alt=""></a>
          <a href="{% url 'docent_map' %}" class="link">Найти ближайший филиал</a>
        </div>       
      </div>

      <div class="col-xs-9 cat" id="docent_ajax">
      {% if products %}
        {% include 'catalog/product_list.html' %}
        {% include 'catalog/panel.html' %}
      {% else %}
        <div class="null_div"><b>В данную категорию товар еще не загружен, идет обновление каталога, зайдите позже</b></div>
      {% endif %}

       </div>
    </div>
  </div>
</section>
{% if category.description %}
<section class="i2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">       
          {{ category.description|safe }}        
      </div>
    </div>
  </div>
</section>
 {% endif %}
{% endblock %}