{% extends 'base.html' %}
{% load thumbnail pagination_tags docent_help_tags mptt_tags generic_flatblocks %}

{% block seo %}
  <title>{{ category.get_seo_title }}</title>
  <meta name="description" content="{{  category.get_seo_description }}"/>
{% endblock %}  

{% block breadcrumbs %}
  {% get_breadcrumbs 'catalog' category.slug %}
{% endblock %}
{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <p class="h1 lg">{{ category.name }}</p>
      </div>
    </div>
      <!--НАЧАЛО ЦИКЛА-->
      <div class="row storage_goods storage_goods_in">        
        <div class="col-xs-3"><!--НАЧАЛО ДЛЯ ФОТО И НАЗВАНИЯ -->
          <div class="title_storage_goods">
            {% thumbnail category.photo "260x250"  format="PNG" as im %}
              <p><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" title="{{ category.photo_title }}" alt="{{ category.photo_alt }}"></p>
            {% endthumbnail %}
          </div>            
        </div><!--КОНЕЦ ДЛЯ ФОТО И НАЗВАНИЯ -->
        <div class="col-xs-9">
        <div class="row">

        {% for node in nodes %}
        <div class="col-xs-4">
          <div class="jstree">
          <ul class="menu_storage_goods">
            <li class="jstree-node  jstree-last jstree-open">
            <a href="{% url 'catalog_product_level' slug=node.slug %}" 
              {% if node.get_children %}
                href="#"
                class="collapsed link"
              {% else %}
                href="{% url 'catalog_product_level' slug=node.slug %}"
                class="link"
              {% endif %}>{{ node }}</a>

              {% for sub,structure in node.get_descendants|only_display_cat|tree_info %}
                {% drilldown_tree_for_node sub as drilldown %}


                 {% if structure.new_level %}

                  <ul id="item{{ sub.pk }}"><li class="jstree-node  jstree-last jstree-open">{% else %}</li>
                  <li class="jstree-node  jstree-last jstree-open">{% endif %}
                    {% ifequal node sub %}
                        <strong>{{ sub.name }}</strong>
                    {% else %}
                    <a
                        href="{% url 'catalog_product_level' slug=sub.slug %}"
                        class="link">{{ sub.name }}</a>

                    {% endifequal %}
                    {% for level in structure.closed_levels %}</li></ul>{% endfor %}
                {% endfor %}
            </li>
          </ul>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3  %}<div class="clearfix clear_menu"></div>{% endif %}
        {% endfor %}
       </div>
      </div>
    </div>

    {% if category.get_partners %}
    <div class="col-xs-12 partners">
        <a class="h1 md link_h1" href="{% url 'partners' %}">Партнеры</a>
        <div class="slider_partners">
         <ul class="slider_2">
         {% for partner in category.get_partners %}
            <li>
            {% thumbnail partner.image "160x40"  format='PNG' as im %}
            <noindex><a rel="nofollow" target="_blank" href="{% if partner.link %}{{ partner.link }}{% else %}#{% endif %}"><img src="{{ im.url }}" alt="{{ partner.name }}"></a></noindex>
            {% endthumbnail %}
            </li>
         {% endfor %}
         </ul>
       </div> 
    </div>
    {% endif %}
</section>

{% if category.description  %}
<section class="i2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
       <p>{{ category.description|safe }}</p>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% endblock %}