{% load thumbnail pagination_tags docent_help_tags lfs_tags %}
<div class="col-xs-12">
  <p class="alphabet"><span>Алфавитный поиск:</span>
  <input type="hidden" id="curr_alpha_bet" value="" />
    {% for el in word_list %}
      <a  href="{% url 'catalog_product_level' slug=category.slug %}?word={{ el }}" 
          data-curr="{{ el }}" 
          {% if el == word %}
          class="docent_word active" 
          {% else %}
          class="docent_word"
          {% endif %}>{{ el }}
      </a>
    {% endfor %}
    <input type="hidden" id="word" value="{{ word }}"/>
  </p>
</div>

<table class="catalog">
  <tbody>
  <tr>
    <td class="cat_code">Код</td>
    <td class="t_cart_photo">Фото</td>
    <td class="cat_name">Наименование</td>
    <td class="cat_price">Цена</td>
    <td class="cat_presence">Наличие</td>
    <td class="cat_add_cart">В корзину</td>
  </tr>
  {% for product in products  %}
    <tr>
    <td class="cat_code">{{ product.sku }} </td>
    <td class="t_cart_photo">
      {% thumbnail product.get_image "40x40"  as im %}
          <img src="{{ im.url }}"
               alt="{{ product.name }}"
               title="{{ product.name }}" />
      {% empty %}
          <img src="{{ STATIC_URL }}images/no_image.jpg" alt="Фото не загружено" style="height: 30px; width:30px;" title="{{ product.name }}">
      {% endthumbnail %}
      {% thumbnail product.get_image "300x300" as im %}
          <img class="zoom_photo"
                src="{{ im.url }}"
               alt="{{ product.name }}"
               title="{{ product.name }}" />
      {% endthumbnail %}
    </td>
    <td class="cat_name">
      {% if product.description %}
        <a href="{% url 'product' slug=product.slug %}">{{ product.name }}</a>
      {% else %}
        {{ product.name }}
      {% endif %}
    </td>

    {% if product.hide_price %}
    <td class="cat_price">по&nbsp;запросу</td>
    {% else %}
      <td class="cat_price">{{ product.get_price|currency  }} <span class="rubl">o</span> </td>
    {% endif %}

    
    {% if product.is_available %}
    <td class="cat_presence">
      есть
    </td>
    {% else %}
    <td class="cat_presence for_denis_class">
      нет
    </td>
    {% endif %}
    

    {% if product.hide_price %}
     <td class="add_cart">
       <button 
       data-product="{{ product.name }}"
       data-prpk="{{ product.pk }}"  
       class="learn_price_table learn_price price_button"
       onclick="yaCounter27421565.reachGoal('get_price'); return true;">Узнать цену</button>
     </td>
    {% else %}
      <td class="add_cart">
        <button id="buy_{{ product.pk }}" class="add_cart_table buy" href="{% url 'add_to_cart' product_id=product.pk %}"
         onclick="yaCounter27421565.reachGoal('CLICK_ON_PRODUCT'); return true;"></button>
      </td>
    {% endif %}    
    </tr>
  {% endfor %}
  </tbody>
</table>
{% request_product_price %}
<script type="text/javascript">
        $(document).ready(function(){
         $(".price_button").webuiPopover({
          placement: "left",
          title: "Узнать цену на:",
          closeable: true,
          content:$("#popover_all").html(),
          //trigger: "click",
          style:'display:block; top:0px;',
          multi:false,
          delay: {
            show: 1,
            hide: 300
          }
        }).click(function(){
          $("input[name='phone']").mask("+7 (999) 999-99-99");  
          var title = $(this).attr("data-product");
          $("div.popover_price .p_insert").html(title);
          var id = $(this).attr("data-prpk");
          $("input[name='product']").val(id);
    });
      });

</script>