{% extends "base.html" %}
{% load thumbnail pagination_tags docent_help_tags mptt_tags %}
{% block breadcrumbs %}
  {% get_breadcrumbs 'warehouse' %}
{% endblock %}
{% block content %}
<section>
  <div class="container">
    <div class="row">      
      <div class="col-xs-12">
        <h1 class="lg">Склад товаров</h1>
      </div>
    </div>
    {% for category in all_cats %}
      <div class="row storage_goods">        
          <div class="col-xs-3"><!--НАЧАЛО ДЛЯ ФОТО И НАЗВАНИЯ -->
            <div class="title_storage_goods">
              	{% thumbnail category.photo "260x250"  format="PNG" as im %}
              		<p><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></p>
            	{% endthumbnail %}
              <a href="{% url 'catalog_product_level' slug=category.slug %}">{{ category.name }}</a>
            </div>            
          </div><!--КОНЕЦ ДЛЯ ФОТО И НАЗВАНИЯ -->
        <div class="col-xs-9">
        <div class="row">
        {% for sub_cat in category.get_children %}
        {% if sub_cat.display %}
        <div class="col-xs-4">
          <div class="jstree">
          <ul class="menu_storage_goods">
            <li class="jstree-node  jstree-last jstree-open">
            <a href="{% url 'catalog_product_level' slug=sub_cat.slug %}" 
              {% if sub_cat.get_children %}
                href="#"
                class="collapsed link"
              {% else %}
                href="{% url 'catalog_product_level' slug=sub_cat.slug %}"
                class="link"
              {% endif %}>{{ sub_cat }}</a>

              {% for sub,structure in sub_cat.get_descendants|only_display_cat|tree_info %}
                {% drilldown_tree_for_node sub as drilldown %}

                 {% if structure.new_level %}
                  <ul id="item{{ sub.pk }}"><li>{% else %}</li><li class="jstree-node  jstree-last jstree-open">{% endif %}
                    {% ifequal sub_cat sub %}
                        <strong>{{ sub.name }}</strong>
                    {% else %}
                    <a
                        href="{% url 'catalog_product_level' slug=sub.slug %}"
                        class="link">{{ sub.name }}</a>

                    {% endifequal %}
                    {% for level in structure.closed_levels %}</li></ul>{% endfor %}
                {% endfor %}
            </li>
          </ul>
          </div>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3  %}<div class="clearfix clear_menu"></div>{% endif %}
        {% endfor %}
         </div>
       </div>
        </div>      
        {% endfor %}
      <!--КОНЕЦ ЦИКЛА-->

    </div>
</section>

{% endblock %}