{% extends "base.html" %}

{% block content %}
    <div class="panel">
        <h1>Спасибо за покупку!</h1>
        <p>Ваш заказ успешно оплачен.</p>
        <p><a href="{% url 'home' %}">на главную</a></p>
    </div>
{% endblock %}