{% extends "base_2col.html" %}
{% load thumbnail docent_help_tags i18n %}
{% block breadcrumbs %}
<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li class="active">{{ service_item }}</li> 
  </ol>
</div>
{% endblock %}
{% block leftCol %}
<div class="static_menu">
	<p class="h2">Сервис</p>
	<ul>
	 {% for action in all_services %}
            {% if action.get_absolute_url == request.path_info %}
            <li class="active"><a href="#">{{ action.title|safe }}</a></li>
            {% else %}
            <li><a href="{{ action.get_absolute_url }}">{{ action.title|safe }}</a></li>
            {% endif %}
        {% endfor %}
	</ul>
</div>
<div class="sidebar_map">
  <img src="{{ STATIC_URL }}images/sidebar_map.png" height="137" width="234" alt="">
  <a href="{% url 'docent_map' %}" class="link">Найти ближайший филиал</a>
</div>  
{% endblock %}
{% block rightCol %}
<div class="article">
    <h1 class="catalog_h">{{ service_item.title|safe }}</h1>
    <div class="article_txt">
	    {{ service_item.body|safe|urlizetrunc:"30" }}
    </div>
</div>
{% endblock %}
