{% extends "info_pages/info_page_base.html" %}
{% load thumbnail docent_help_tags i18n %}

{% block breadcrumbs %}
<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li><a href="{% url 'news' %}">Новости</a></li>
    <li class="active">{{ news_item }}</li> 
  </ol>
</div>
{% endblock %}
{% block dop_bread %}
    <li><a href="{% url 'news' %}">Услуги</a></li>
    <li>{{ news_item.title|safe }}</li>
{% endblock %}


{% block rightCol %}

	<div class="article">
	    <h2 class="catalog_h">{{ news_item.title|safe }}</h2>
	    <div class="article_txt">
		    {{ news_item.body|safe|urlizetrunc:"30" }}
	    </div>

	</div>

{% endblock %}
