{% load thumbnail docent_help_tags i18n pagination_tags %}
<div class="index-news">
 <a class="h1 md link_h1" href="{% url 'news' %}">Новости</a>
 <div class="row">
    {% for new in news %}
       <div class="col-xs-4">
         <article>
           <span class="date">{{ new.last_modification|date:"d.m.Y" }}</span>
           <div><a class="link" href="{{ new.get_absolute_url }}">{{ new }}</a></div>
           <p>{{ new.body|truncatechars_html:120|safe }}</p>
         </article>
       </div>
   {% endfor %}
 </div>
</div>
