{% extends "info_pages/info_page_base.html" %}
{% load i18n %}

{% block breadcrumbs %}
 <div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="#">Главная</a></li>
    <li><a href="{% url 'docent_my_account' %}">Личный кабинет</a></li>
    <li class="active">Изменение пароля</li>
  </ol>
</div>
{% endblock %}


{% block rightCol %}
    <h2 class="catalog_h">Изменение пароля</h2>
    <div class="account_c">
        <p class="desc">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
       
        <form action="" method="post" class="reg_enter my_office form-horizontal clear password_office">{% csrf_token %}
            {% include "includes/form_widget.html" %}
          <span class="clearfix"></span>
            <input type="submit" class="button" value="{% trans 'Change my password' %}" />
        </form>
    </div>
{% endblock %}
