{% extends "info_pages/info_page_base.html" %}
{% load i18n %}

{% block breadcrumbs %}
 <div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="#">Главная</a></li>
    <li><a href="{% url 'docent_my_account' %}">Личный кабинет</a></li>
    <li class="active">Изменение пароля</li>
  </ol>
</div>
{% endblock %}


{% block rightCol %}
    <h2 class="catalog_h">{% trans 'Password reset successful' %}</h2>
    <div class="account_c">
       	<p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>
       
    </div>
{% endblock %}
