{% extends "info_pages/info_page_base.html" %}
{% load i18n %}

{% block dop_bread %}
<li>{% trans "Password reset" %}</li>
{% endblock %}

{% block rightCol %}
<div class="col-xs-9">
	<div class="article account">
	    <h2 class="catalog_h">{% trans "Password reset" %}</h2>
	    <div class="account_c">
	    	<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

		    <form action="" method="post" class="reg_enter">{% csrf_token %}
		        {% include "includes/form_widget.html" %}
		        <input type="submit" value="{% trans 'Reset my password' %}" />
		    </form>
		</div>
	</div>
</div>
{% endblock %}
