{% extends "info_pages/info_page_base.html" %}
{% load i18n %}

{% block breadcrumbs %}
 <div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="#">Главная</a></li>
    <li><a href="{% url 'docent_my_account' %}">Личный кабинет</a></li>
    <li class="active">{% trans 'Password change successful' %}</li>
  </ol>
</div>
{% endblock %}

{% block rightCol %}
	<div class="article">
		<h2 class="catalog_h">{% trans 'Password change successful' %}</h2>
		<div class="article_txt">
	    	<p>{% trans 'Your password was changed.' %}</p>
	    </div>
	</div>
{% endblock %}
