{% extends "info_pages/info_page_base.html" %}
{% load i18n %}


{% block breadcrumbs %}
 <div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li class="active">Изменение пароля</li>
  </ol>
</div>
{% endblock %}


{% block rightCol %}
    <h2 class="catalog_h">{% trans 'Password reset complete' %}</h2>
  		<p>Ваш новый пароль был успешно изменен</p>       
    </div>
{% endblock %}

