{% extends "info_pages/info_page_base.html" %}
{% load generic_flatblocks %}

{% block breadcrumbs_content %}
    <span>Вы зарегистрированы</span>
{% endblock %}

{% block rightCol %}
	<div class="col-xs-9">
    {% gblock 'registration_done' for 'gblocks.TitleAndText' %}
    </div>
{% endblock %}