{% extends "info_pages/info_page_base.html" %}
{% load i18n %}

{% block breadcrumbs_content %}
    <span>Регистрация</span>
{% endblock %}

{% block rightCol %}
    <h1>Регистрация</h1>
    <form action="" method="post" class="reg_enter">{% csrf_token %}
        {% include "includes/form_widget.html" %}
        <input type="submit" value="Зарегистрироваться" />
    </form>
{% endblock %}