{% if items|length > 0 %}
    {% with items|first as first %}
    <div class="f_title">{{ filter_name }}<div class="corner"></div></div>
    <dd>
        {% for item in items %}
            {% if item.selected %}
                <a class="select" href="{{ item.url }}">{{ item.name }}</a><br>
            {% else %}
    <input id="checkbox_{{ item.checkboxval }}" class="check lf_submit" href="{{ self.common_url }}" name="checkbox_{{ item.checkboxval }}" type="checkbox" value="{{ item.checkboxval }}">
    <label for="checkbox_{{ item.checkboxval }}" class="check">{{ item.name }}</label><br>
    {% if forloop.last %}<div class="clr"></div>{% endif %}
            {% endif %}
        {% endfor %}
    </dd>
    {% endwith %}
{% endif %}
