{% extends 'info_pages/info_page_base.html' %}
{% load thumbnail docent_help_tags i18n pagination_tags %}

{% block breadcrumbs %}
<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li class="active">Статьи</li> 
  </ol>
</div>
{% endblock %}
{% block rightCol %}
<div class="article">
    <h1>Статьи</h1>
    <div class="article_txt">
        <div class="news_list">
            {% for n in articles %}
                <article class="clear">{% url 'article_detail' slug=n.slug as news_detail_url %}
                    {% thumbnail n.image "212x169" crop='center' as im %}                        
                        <img class="floatLeft" style="padding:{{ im|margin:"212x169" }};" src="{{ im.url }}" title="{{ n.title|striptags }}" alt="{{ n.title|striptags }}">
                    {% endthumbnail %}
                    <span>{{ n.last_modification|date:"j E Y" }}</span>
                    <h2><a class="link" href="{{ news_detail_url }}">{{ n.title|safe }}</a></h2>          
                    <p>{{ n.short|safe|truncatewords:35 }}</p>
                </article>      
            {% endfor %}
        </div>        
    </div>
</div>

<div class="row parameters catalog_container">
        <div class="col-xs-6 col-xs-offset-3">  
        {% if articles.paginator.num_pages > 1 %}
            <p><b>Страницы:</b></p>
            <ul>
                <li><a href="?page=1{{ getvars }}{{ hashtag }}">Начало</a></li>
                {% if articles.has_previous %}
                    <li><a href="?page={{ articles.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev"></a></li>
                    <li class="prev"><a href="?page={{ articles.previous_page_number }}{{ getvars }}{{ hashtag }}"></a></li>
                {% endif %}
                {% for page in articles.neighbor_range %}
                    {% if page %}
                        {% ifequal page articles.number %}
                            <li class="active">{{ page }}</li>
                        {% else %}
                            <li><a href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                    {% endif %}
                {% endfor %}
                {% if articles.has_next %}
                    <li><a href="?page={{ articles.next_page_number }}{{ getvars }}{{ hashtag }}" class="next"></a><li>
                    <li class="next"><a href="?page={{ articles.next_page_number }}{{ getvars }}{{ hashtag }}"></a></li>
                {% endif %}
                <li><a href="?page={{ articles.paginator.num_pages }}{{ getvars }}{{ hashtag }}">Конец</a></li>
            </ul>
        {% endif %}
        </div>
</div>
{% endblock %}