{% extends "info_pages/info_page_base.html" %}
{% load thumbnail docent_help_tags i18n %}
  
  {% block seo %}
      <title>{{ article_item.seo_title }}</title>
      <meta name="keywords" content="{{ article_item.seo_keywords }}" />
      <meta name="description" content="{{ article_item.seo_description }}" />
  {% endblock %}  

{% block breadcrumbs %}
<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li><a href="{% url 'articles' %}">Статьи</a></li>
    <li class="active">{{ article_item }}</li> 
  </ol>
</div>
{% endblock %}
{% block dop_bread %}
    <li><a href="{% url 'articles' %}">Услуги</a></li>
    <li>{{ article_item.title|safe }}</li>
{% endblock %}


{% block rightCol %}

	<div class="article">
	    <h1 class="catalog_h">{{ article_item.title|safe }}</h1>
	    <div class="article_txt">
		    {{ article_item.body|safe|urlizetrunc:"30" }}
	    </div>

	</div>

{% endblock %}
