body {
    margin: 0;
    padding: 0;
}

.map {
    width: 1172px;
    height: auto;
    margin: 20px auto;
    display: block;
    max-width: 100%;
    transition: 0.5s;
}

.message-box {
    font-family: Arial;
    width: 294px;
    height: 200px;
    background-color: rgba(46, 53, 65, 0.75);
    position: absolute !important;
    z-index: 9999;
    left: 803px;
    top: 411px;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 21px;
    display: none;
    color:  #fff !important;
    font-size: 14px;
}

.message-box::after {
    content: ''; 
    position: absolute;
    left: 20px; bottom: -16px;
    border: 8px solid transparent;
    border-top: 8px solid rgba(46, 53, 65, 0.75);
}

.message-box h2 {
    margin: 0;
    font-size: 18px;
    color: #fff !important;
}

.message-box h3 {
    font-size: 12px;
    margin: 15px 0 0 0;
}
.citylink{
    cursor: pointer;
}