{% extends 'info_pages/info_page_base.html' %}
{% load thumbnail docent_help_tags i18n pagination_tags %}
{% block breadcrumbs %}
<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li class="active">Видеогалерея</li> 
  </ol>
</div>
{% endblock %}
{% block rightCol %}
<div class="article">
    <h1>Видеогалерея</h1>
    <div class="row">
     <div class="col-xs-12">
          <div class="main_video">
            {% with video_list|first as first_object %}
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/{{ first_object.get_youtube_id }}" frameborder="0" allowfullscreen=""></iframe>
            {% endwith %}
        </div>
      </div>
    <div class="video clear">
      {% for n in video_list %}
      <div class="col-xs-4">
        <div class="video_index">
         <a class="youtube" href="{% url 'video_detail' slug=n.slug %}"><img width="100%" src="http://img.youtube.com/vi/{{ n.get_youtube_id }}/0.jpg" title="{{ n.title|striptags }}" alt="{{ n.title|striptags }}"></a>
        </div>
        <a class="link youtube" href="{% url 'video_detail' slug=n.slug %}">{{ n.title }}</a>
        {% if n.description %}
        <p class="description_youtube" >{{ n.description|safe }}</p>
        {% endif %}
        
      </div>
      {% endfor %}
      <div class="row parameters catalog_container">
        <div class="col-xs-6 col-xs-offset-3"> 
            {% paginate %}
        </div>
      </div>

    </div>
    </div>
</div>
{% endblock %}