{% extends "base.html" %}
{% load thumbnail docent_help_tags lfs_tags seo generic_flatblocks %}

{% block seo %}
  <title>{{ p.get_seo_title }}</title>
  <meta name="description" content="{{  p.get_seo_description }}"/>
{% endblock %}  

{% block head_dop_scripts %}
 <link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet" />
 <script src="{{ STATIC_URL }}js/lightbox.min.js?ver=1"></script>
{% endblock %}
{% block breadcrumbs %}
<div class="col-xs-12">
  <ol class="breadcrumb">
  <li><a href="{% url 'home' %}">Главная</a></li>
  {% for cat in p.get_categories %}
    <li><a href="{% url 'catalog_product_level' slug=cat.slug %}">{{ cat.name }}</a></li>
  {% endfor %}
    <li class="active">{{ p.name }}</li>
   </ol>
</div>
{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-5">

        <!--ЕСЛИ НЕТ ИЛИ ОДНО ИЗОБРАЖЕНИЕ НАЧАЛО-->
       <!--  <div class="single_images"><img src="images/no_image.jpg" height="313" width="470" alt=""></div> -->
        <!--ЕСЛИ НЕТ ИЛИ ОДНО ИЗОБРАЖЕНИЕ КОНЕЦ-->
      <div class="multi_images">
      {% if p.get_images %}
        <ul class="slider_tovar">
          {% for image in p.get_images %}
              <li>
              <a data-lightbox="example-set" 
               {% thumbnail image.image "940x604" format='PNG' as im1 %}
                href="{{ im1.url }}">
                {% endthumbnail %}
                  <p>
                   {% thumbnail image.image "470x300" format='PNG' upscale=True as im %}
                      <img src="{{ im.url }}" alt="{{ image.title }}" title="{{ image.title }}">
                       {% endthumbnail %}
                  </p>
              </a>
              </li>
          {% endfor %}
        </ul>
        <p class="zoom">Нажмите на фото, чтобы увеличить</p>
        {% if  p.get_images|length > 1 %}
        <div id="bx-pager">
          {% for image in p.get_images %}
            {% thumbnail image.image "80x80" crop="center"  format='PNG' as im %}
             <a data-slide-index="{{ forloop.counter0 }}" href=""><img src="{{ im.url }}"></a>
            {% endthumbnail %}
          {% endfor %}
        </div>
        {% endif %}
      {% endif %}
      </div>

      </div>
      <div class="col-xs-7">
        <div class="card_product">
          <h1 class="md">{{ p.name }}</h1>
          <div class="about_product">
            <p>Код товара: {{ p.sku }}</p>
            {% if p.is_available %}
              <p>Наличие: есть</p>
            {% else %}
              <p>Наличие: нет</p>
            {% endif %}

            <p>{% if p.pdf %} <a class="pdf"  target="_blank" href="{{ MEDIA_URL }}{{ p.pdf }}">Описание в pdf</a>{% else %}{% endif %}</p>
            
          </div>

           {% if p.hide_price %}
            <button data-product="{{ product.pk }}" class="learn_price_table learn_price">Узнать цену</button>
           {% else %}
              <p class="fleft mr10">Цена:</p>
              <p class="card_price"><span>{{ p.get_price|currency }} <span class="rubl">o</span></span></p>
              <button class="add_cart_card button buy" href="{% url 'add_to_cart' product_id=p.pk %}">Добавить в корзину</button>
           {% endif %}
         
         
          <!-- <div class="number">                
                <input type="text" value="1">
                <span class="plus"></span>
                <span class="minus"></span>
            </div>-->
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
      <div class="info_tovar">     
      <ul class="tab tab_info clear">
        {% if p.description %}<li  class="active"><a href="#designation" data-toggle="tab">Назначение</a></li>{% endif %}
        {% if tech_info %}<li {% if not p.description %}class="active"{% endif %}><a href="#technical" data-toggle="tab">Технические характеристики</a></li>{% endif %}
        {% if tech_info_other%}<li><a href="#other_parameters" data-toggle="tab">Другие параметры</a></li>{% endif %}
      </ul>
    
      <div class="tab-content">
        <div class="tab-pane active" id="designation">
         {{ p.description|safe }}
        </div>
        <div class="tab-pane" id="technical">
          <table>
            <tbody>
            {% for tech in tech_info %}
             <tr>
                <td>{{ tech.name.name }}:</td>
                <td>{{ tech.value }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="other_parameters">
        <table>
            <tbody>
           {% for tech in tech_info_other %}
             <tr>
                <td>{{ tech.name.name }}:</td>
                <td>{{ tech.value }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}