{% load pagination_tags pytils_numeral %}
<div class="row parameters">
    <div class="col-xs-4">
        <p>Всего  {{ products|length }} {{ products|length|choose_plural:"позиция, позиции, позиций" }} из
        {% if paginator.count %}{{ paginator.count }}{% else %}{{ products.elements_count }}{% endif %}</p>
    </div>
    <div class="col-xs-5">  
    {% if products.paginator.num_pages > 1 %}
        <p><b>Страницы:</b></p>
        <ul class="docent_pagination">
            <li><a href="?q={{request.GET.q}}&page=1{{ getvars }}{{ hashtag }}">Начало</a></li>
            {% if products.has_previous %}
                <li><a href="?q={{request.GET.q}}&page={{ products.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev"></a></li>
                <li class="prev"><a href="?q={{request.GET.q}}&page={{ products.previous_page_number }}{{ getvars }}{{ hashtag }}"></a></li>
            {% endif %}
            {% for page in products.neighbor_range %}
                {% if page %}
                    {% ifequal page products.number %}
                        <li class="active">{{ page }}</li>
                    {% else %}
                        <li><a href="?q={{request.GET.q}}&page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a></li>
                    {% endifequal %}
                {% else %}
                {% endif %}
            {% endfor %}
            {% if products.has_next %}
                <li><a href="?q={{request.GET.q}}&page={{ products.next_page_number }}{{ getvars }}{{ hashtag }}" class="next"></a><li>
                <li class="next"><a href="?page={{ products.next_page_number }}{{ getvars }}{{ hashtag }}"></a></li>
            {% endif %}
            <li><a href="?q={{request.GET.q}}&page={{ products.paginator.num_pages }}{{ getvars }}{{ hashtag }}">Конец</a></li>
        </ul>
    {% endif %}
    </div>
    <div class="col-xs-3">
        <div class="right">
        {% if products.elements_count > 18 %}
         <p>Выводить:</p>
          <ul class="docent_pagination">
            {% for option in PAGING_COUNTS %}
                {% if count_show == option.value %}
                    <li>{{ option.name }}</li>
                {% else %}
                    <li><a href="?q={{request.GET.q}}&count_show={{ option.name }}" class="show_counting">{{ option.name }}</a></li>
                {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
        </div>
    </div>
</div>

 
            