{% load thumbnail pagination_tags docent_help_tags lfs_tags %}
<div class="col-xs-12">
  <p class="alphabet"><span>Алфавитный поиск:</span>
  <input type="hidden" id="curr_alpha_bet" value="" />
    {% for el in word_list %}
      <a  href="{% url 'catalog_product_level' slug=category.slug %}?word={{ el }}" 
          data-curr="{{ el }}" 
          {% if el == word %}
          class="docent_word active" 
          {% else %}
          class="docent_word"
          {% endif %}>{{ el }}
      </a>
    {% endfor %}
    <input type="hidden" id="word" value="{{ word }}"/>
  </p> 
</div>

    <div class="col-xs-12">
      <div class="main">
        <div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
          <div class="cbp-vm-options">
            <a href="#" id="cbp-vm-view-grid" class="sprite cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid"></a>
            <a href="#" id="cbp-vm-view-list" class="sprite cbp-vm-list" data-view="cbp-vm-view-list"></a>
            <a href="#" id="cbp-vm-view-table" class="sprite cbp-vm-table" data-view="cbp-vm-view-table"></a>
          </div>

            <div class="head_table">
              <div class="t_code">Код</div>
              <div class="t_photo">Фото</div>
              <div class="t_name">Наименование</div>
              <div class="t_nal">Наличие</div>
              <div class="t_price">Цена</div>
              <div class="t_buy">В корзину</div>
            </div>                     
          
          <ul>
           {% for product in products  %}
            <li>
                <span class="cat_code">{{ product.sku }} </span>
                {% thumbnail product.get_image "250x180"  as im %}
                <div class="cbp-vm-image">
                  <img src="{{ im.url }}"
                  alt="{{ product.name }}"
                  title="{{ product.name }}"
                   /> 
                </div>                     
                {% empty %}
                <div class="cbp-vm-image">
                  <img src="{{ STATIC_URL }}images/no_image.jpg" alt="Фото не загружено" class="noimg" title="{{ product.name }}">
                </div>  
                {% endthumbnail %}

                {% if product.description %}
                  <a class="cbp-vm-title" href="{% url 'product' slug=product.slug %}">{{ product.name }}</a>
                {% else %}
                  <p>{{ product.name }}</p>
                {% endif %}
                  <div class="mini_text">
                    <p>
                    {{ product.description|safe|truncatechars:"160" }}
                    </p>
                  </div>
                {% if product.is_available %}
                  <div class="cat_presence">
                    В наличии
                  </div>
                {% else %}
                <div class="cat_presence for_denis_class">
                  Нет в наличии
                </div>
                {% endif %}
                <div class="btns">
                {% if product.hide_price %}
                  <p class="cat_price">Цена по запросу</p>
                  {% else %}
                  <p class="cat_price">{{ product.get_price|currency  }} <span class="rubl">o</span> </p>
                {% endif %}

                {% if product.hide_price %}
                <div class="add_cart">
                  <a id="price_btn" class="price_button" data-prpk="{{ product.pk }}"  data-product="{{ product.name }}">Узнать цену</a>
                </div>
                  {% else %}
                <div class="add_cart">
                  <button id="buy_{{ product.pk }}" class="add_cart_table buy" href="{% url 'add_to_cart' product_id=product.pk %}"
                     onclick="yaCounter27421565.reachGoal('CLICK_ON_PRODUCT'); return true;">
                     В корзину
                  </button>
                </div>
              {% endif %}
              </div> 
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% request_product_price %}
    <script type="text/javascript">

      $(document).ready(function(){
        var facePalm = $.session.get("face");
        if (facePalm != undefined){
          $("#cbp-vm").attr('class',"cbp-vm-switcher " + facePalm);
          $(".cbp-vm-options a").removeClass("cbp-vm-selected");
          $("#" + facePalm).addClass("cbp-vm-selected");
        }
         $(".price_button").webuiPopover({
          placement: "left",
          title: "Узнать цену на: ",
          closeable: true,
          content:$("#popover_all").html(),
          style:'display:block; top:0px;',
          multi:false,
          delay: {
            show: 1,
            hide: 300
          }
        }).click(function(){
          $("input[name='phone']").mask("+7 (999) 999-99-99");  
          var title = $(this).attr("data-product");
          $("div.popover_price .p_insert").html(title);
          var id = $(this).attr("data-prpk");
          $("input[name='product']").val(id);
          });

( function( window ) {
'use strict';
function classReg( className ) {
  return new RegExp("(^|\\s+)" + className + "(\\s+|$)");
}
var hasClass, addClass, removeClass;
if ( 'classList' in document.documentElement ) {
  hasClass = function( elem, c ) {
    return elem.classList.contains( c );
  };
  addClass = function( elem, c ) {
    elem.classList.add( c );
  };
  removeClass = function( elem, c ) {
    elem.classList.remove( c );
  };
}
else {
  hasClass = function( elem, c ) {
    return classReg( c ).test( elem.className );
  };
  addClass = function( elem, c ) {
    if ( !hasClass( elem, c ) ) {
      elem.className = elem.className + ' ' + c;
    }
  };
  removeClass = function( elem, c ) {
    elem.className = elem.className.replace( classReg( c ), ' ' );
  };
}
function toggleClass( elem, c ) {
  var fn = hasClass( elem, c ) ? removeClass : addClass;
  fn( elem, c );
}
var classie = {
  // full names
  hasClass: hasClass,
  addClass: addClass,
  removeClass: removeClass,
  toggleClass: toggleClass,
  // short names
  has: hasClass,
  add: addClass,
  remove: removeClass,
  toggle: toggleClass
};
// transport
if ( typeof define === 'function' && define.amd ) {
  // AMD
  define( classie );
} else {
  // browser global
  window.classie = classie;
}
})( window );
(function() {
  var container = document.getElementById( 'cbp-vm' ),
    optionSwitch = Array.prototype.slice.call( container.querySelectorAll( 'div.cbp-vm-options > a' ) );
  function init() {
    optionSwitch.forEach( function( el, i ) {
      el.addEventListener( 'click', function( ev ) {
      $.session.set("face", $(this).attr("data-view"));
        ev.preventDefault();
        _switch( this );
      }, false );
    } );
  }
  function _switch( opt ) {
    // remove other view classes and any any selected option
    optionSwitch.forEach(function(el) { 
      classie.remove( container, el.getAttribute( 'data-view' ) );
      classie.remove( el, 'cbp-vm-selected' );
    });
    // add the view class for this option
    classie.add( container, opt.getAttribute( 'data-view' ) );
    // this option stays selected
    classie.add( opt, 'cbp-vm-selected' );
  }
  init();
})();
      });
    </script>