{% extends "base.html" %}

{% block breadcrumbs %}
<section class="s_bread">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ol class="bread">
          <li><a href="{% url 'home' %}">Главная</a></li>
          <li>Безналичная оплата заказа</li>
        </ol>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="description_category">
          <h1>Безналичная оплата заказа №{{ order.custom_order_number }}</h1>
          <p>{{ category.description }}</p>
        </div>
      </div>
    </div>

    <div class="row">
      	<div class="col-xs-12">
	        <div>
			    {% include 'order/order_tmpl.html' with current_order=order %}
			    <form action="{{ form.target }}">
			        {{ form }}
			        <p>
			            <a type="submit" class="button big arrow" href="" onclick="$(this).closest('form').submit(); return false;">Оплатить</a>
			        </p>
			    </form>
			</div>

		</div>
	</div>
	<br>

   </div>
</section>

{% endblock %}