{% load i18n lfs_tags thumbnail %}
<table class="t_cart">
<tbody>
  <tr class="title_cart">
    <td class="t_cart_photo">Фото</td>
    <td class="t_cart_name">Наименование</td>
    <td class="t_cart_code">Код</td>
    <td class="t_cart_price">Цена</td>
    <td class="t_cart_presence">Количество</td>
    <td class="t_cart_summa">Сумма</td>
  </tr>
  {% for cart_item in cart.items %}
  <tr>
    <td class="t_cart_photo">
      {% thumbnail cart_item.product.get_image "60x60" as im %}
          <img src="{{ im.url }}"
               alt="{{ cart_item.product.get_name }}"
               title="{{ cart_item.product.get_name }}" />
       {% empty %}
          <img src="{{ STATIC_URL }}images/no_image.jpg" alt="Фото не загружено" style="height: 30px; width:30px;" title="{{ product.name }}">
      {% endthumbnail %}
    </td>
    <td class="t_cart_name"><p>{{ cart_item.product.get_name }}</p></td>
    <td class="t_cart_code"> <p>{{ cart_item.product.sku }}</p></td>
    <td class="t_cart_price">{{ cart_item.product.get_price|currency }} <span class="rubl">o</span> </td>
    <td class="t_cart_presence"> {{ cart_item.amount|floatformat }}</td>
    <td class="t_cart_summa">{{ cart_item.get_price|currency }} <span class="rubl">o</span> </td>
  </tr>
  {% endfor %}
</tbody>
</table>