{% extends "base.html" %}
{% load i18n %}
{% load lfs_tags widget_tweaks docent_help_tags  generic_flatblocks %}
{% block head_dop_css %}
  <link href="{{ STATIC_URL }}css/kladr.form.css" rel="stylesheet">
{% endblock %}
{% block breadcrumbs %}
<div class="col-xs-12">
   <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li><a href="{% url 'cart' %}">Корзина</a></li>
    <li class="active">Оформление заказа</li>
  </ol>
</div>
{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <h1 class="lg">Оформление заказа</h1>
      </div>
    </div>
    {% if cart.have_items %}
    <div class="row">
      <form action="{% url 'checkout' %}" class="order clear js-form-address" id="CheckoutForm" enctype="multipart/form-data">
        <div class="col-xs-12">
          <div class="order_block order_block_1">
            <b>Личные данные получателя</b>
            <div class="row">
              <div class="col-xs-6">
                <span></span>
                <p><label for="fio"><sup>*</sup> ФИО получателя</label>
                  {{ main_form.fio }} 
                </p>
                <p><label for="order_mail"><sup>*</sup>Эл.почта</label>
                  {{ main_form.email }}
                </p>
              </div>
              <div class="col-xs-6">
                <span>Укажите номера телефонов для согласования заказа</span>
                <p><label for="order_tel"><sup>*</sup> Телефон</label>
                  {{ main_form.phone }}
                </p>
                <p><label for="order_tel_dop">Дополнительный телефон</label>
                  {{ main_form.dop_phone }}
                </p>
                <i><sup>*</sup> Обязательные поля</i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="order_block order_block_2">
            <b>Выберите способ получения</b>
            <div class="row">
              <div class="col-xs-6">
                <p>
                  <input type="radio" name="obtaining" id="dostavka" value="transport" aria-required="true" onChange="Selected(this)">
                  <label for="dostavka" class="big_l">Доставка транспортной компанией</label>
                </p>
                <p>
                  <input type="radio" name="obtaining" id="vivoz" checked="checked" 
                   value="sam" aria-required="true" onChange="Selected(this)">
                  <label for="vivoz" class="big_l">Самовывоз</label>                  
                  <select id="samovyvoz" class="form-control" name="samovivoz">
                    {% for punkt in shops %}
                      <option value="{{ punkt.pk }}">{{ punkt.city }}</option>
                    {% endfor %}
                  </select>
                  <small>Выберите филиал</small>
                </p>               
              </div>
              <div class="col-xs-6">
            <label for="textarea">Комментарий<br>к заказу</label><textarea  class="form-control" name="message" id="textarea"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="order_block order_block_3" id="order_block_3" 
           style="display: none;">
             <b>Адрес доставки</b>
             <div class="row">
              <div class="col-xs-6">
                <span>Введите адрес доставки</span>
                <p class="field">
                  <label for="order_tel"><sup>*</sup>Область</label>
                 {{ delivForm.region }}
                </p>
                <p>
                  <label for="order_tel"><sup>*</sup>Город</label>
                   {{ delivForm.city }}
                </p>
              </div>
              <div class="col-xs-6">
                <span></span>
                <p><label for="order_street"><sup>*</sup>Улица</label> 
                    {{ delivForm.street }}
                </p>
                <p class="mini_input"><label for="order_tel_dop"><sup>*</sup>Дом</label>
                   {{ delivForm.building }}
                </p>
                <p class="mini_input"><label for="order_tel_dop">Корпус</label>
                  {{ delivForm.corpus }}
                <p class="mini_input"><label for="order_tel_dop">Строение</label>
                  {{ delivForm.builder }}
                </p>
                <p class="mini_input"><label for="order_tel_dop">Офис</label>
                  {{ delivForm.office }}
                </p>
                <i><sup>*</sup> Обязательные поля</i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="order_block order_block_2">
            <b>Способ оплаты</b>
            <div class="row">
              <div class="col-xs-6">
              {% if not customer.urik %}
                <p>
                  <input type="radio" name="payment_method" id="properties_1" 
                checked value="nal" aria-required="true" checked="checked">
                  <label for="properties_1" class="big_l">Наличными при получении</label>
                </p>
              {% else %}
                <p>
                  <input type="radio" name="payment_method" id="properties_2"  value="beznal" aria-required="true" checked="checked"
                  >
                  <label for="properties_2" class="big_l">Безналичный расчет для юридического лица</label>                  
                </p>
              {% endif %}               
              </div>
            </div>
          </div>
        </div>

        {% if customer.urik %}
        <div class="col-xs-12">
          <div class="order_block order_block_1" id="order_block_4">
            <b>Реквизиты</b>
            <div class="row">
              <div class="col-xs-6">                
                <p><label for="fio"><sup>*</sup>Название<br>организации</label>
                {{ paymentForm.organization }}
                </p>
                <p><label for="order_mail"><sup>*</sup>ИНН</label>
                  {{ paymentForm.inn }}</p>
                <p><label for="order_mail"><sup>*</sup>КПП</label>
                   {{ paymentForm.kpp }}  
                </p>
              </div>
              <div class="col-xs-6">                
                <p> {{ paymentForm.file }}</p>    
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="col-xs-12">
          {{ cart_inline }}
           <button class="button" id="go_checkout" onclick="yaCounter27421565.reachGoal('checkout_finish'); return true;">Подтвердить заказ</button>
           <p class="itog">Итого: <span>{{ cart_price|currency }} <span class="rubl">o</span></p>
        </div>

      </form>
    </div>
    {% else %}
    <div class="row">
      <div class="col-xs-12">
          <p>Ваша корзина покупок пока что пуста...</p>
          <div class="after_table">
                <a href="{% url 'warehouse_level' %}" class="continue_buy">Продолжить покупки</a>
          </div>
      </div>
    </div>
    {% endif %}
    </div>
</section>
{% endblock %}
