{% extends 'info_pages/info_page_base.html' %}
{% load i18n lfs_tags  generic_flatblocks %}


{% block breadcrumbs %}
<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li class="active">Спасибо за заказ!</li> 
  </ol>
</div>
{% endblock %}
{% block rightCol %}
<div class="col-xs-9">
<div class="article">
	<h2 class="catalog_h">Спасибо за заказ!</h2>
	<div class="article_txt">
    <p>В скором времени наш менеджер свяжется с Вами для подтвержения заказа и уточнения деталей.</p>
    <p>Полная информация о заказе выслана на указанный Вами электронный адрес.</p>
    <p class="rText">Благодарим за выбор магазина Трактороцентр</p>
    </div>
</div>
</div>
{% endblock %}
