{% if is_paginated %}
{% load i18n %}
    <p><b>Страницы:</b></p>
    <ul>
        <li><a href="?page=1{{ getvars }}{{ hashtag }}">Начало</a></li>
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev"></a></li>
            <li class="prev"><a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}"></a></li>
        {% endif %}
        {% for page in pages %}
            {% if page %}
                {% ifequal page page_obj.number %}
                    <li class="active">{{ page }}</li>
                {% else %}
                    <li><a href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a></li>
                {% endifequal %}
            {% else %}
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}" class="next"></a><li>
            <li class="next"><a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}"></a></li>
        {% endif %}
        <li><a href="?page={{ paginator.num_pages }}{{ getvars }}{{ hashtag }}">Конец</a></li>
    </ul>
{% endif %}
