{% extends "base.html" %}
{% load seo generic_flatblocks docent_help_tags cache page_tags pytils_numeral %}
{% block head_dop_scripts %}
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  var myMap;
    ymaps.ready(init);
    function init () {
    myMap = new ymaps.Map('map', {
        center:[{{ shop.mapx }}, {{ shop.mapy }}],
        zoom:14
    });
    myMap.controls.add(
       new ymaps.control.ZoomControl()
    );

    var newPlacemark  = new ymaps.Placemark([{{ shop.mapx }}, {{ shop.mapy }}],{});
    myMap.geoObjects.add(newPlacemark);

  }
}); 
</script>
{% endblock %}
{% block breadcrumbs %}
<div class="col-xs-12">
   <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li class="active">Контакты</li>
  </ol>
</div>
{% endblock %}

{% block content %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <h1 class="lg">Контакты</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <div class="select_city">
          <p class="title_select_city">Адрес магазина</p>
          <form action="{% url 'contacts' %}" id="form_contacts" method="POST">{% csrf_token %}  
	          <select class="form-control" name="contact_region" id="contact_region">
	          {% for reg in regions %}
	          	<option value="{{ reg.pk }}"{% if reg.pk = shop.city.region.pk %}selected{% endif %}>{{ reg.name }}</option>
	          {% endfor %}
	          </select>
	          <select class="form-control" name="contact_city" id="contact_city">
	          {% for place in city %}
	          	<option value="{{ place.pk }}" {% if place.pk = shop.city.pk %}selected{% endif %}>{{ place.name }}</option>
	          {% endfor %}
	          </select>
          </form>
          <div class="info_adress">
              <div class="adr">
              <b>Адрес</b>
              <p>{{ shop.address }}</p>
            </div>            
            <div class="tel">
              <b>Телефон</b>
              {% for phone in shop.get_shop_phones %}
              <p>{{ phone.number }}</p>
              {% endfor %}
            </div>
            <div class="ema">
              <b>Эл.почта</b>
              <a href="mailto:{{ shop.email }}">{{ shop.email }}</a>
            </div>
          </div>   
          {% if shop.details  %}
          <a class="pdf" href="{{ shop.details.url }}" target="blank">{{ shop.details_name }}</a>
          {% endif %}
          </div>
        
      </div>
      <div class="col-xs-9">
        <div class="map" id="map" style="width:870px;height:420px;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="info_contact">     
          <ul class="tab tab_info clear">
          {% for office in offices %}
           	<li {% if forloop.first %}class="active"{% endif %}><a href="#tab_{{ office.pk }}" data-toggle="tab">{{ office.name }}</a></li>
          {% endfor %}
          </ul>
      
          <div class="tab-content">
           	{% for office in offices %}        
	            <div class="tab-pane  {% if forloop.first %}active{% endif %}" id="tab_{{ office.pk }}">
	            	{% get_managers_office office %}
	            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
   
  </div>
</section>

{% endblock %}