{% load i18n %}
{% load lfs_tags %}
<table class="order catalog lfs-default">
    <tr>
        <td colspan="4">
            {% trans 'General' %}
        </td>
    </tr>
    <tr>
        <td>Номер заказа</td>
        <td colspan="3">
            {{ current_order.custom_order_number }}
        </td>
    </tr>
    <tr>
        <td>{% trans 'Customer name' %}:</td>
        <td>{{ current_order.fio }}</td>
        <td>{% trans 'Date' %}:</td>
        <td>{{ current_order.created|date:_("DATETIME_FORMAT") }}</td>
    </tr>
    <tr>
        <td>{% trans 'E-mail' %}:</td>
        <td><a href="mailto:{{ current_order.email }}">{{ current_order.email }}</a></td>
        <td>{% trans 'State' %}:</td>
        <td>{{ current_order.get_state_display }}</td>
    </tr>
    <tr>
        <td>{% trans 'Phone' %}:</td>
        <td>{{ current_order.phone }}</td>
        <td>{% trans 'Total' %}:</td>
        <td>{{ current_order.price|currency }}<span class="rubl">o</span></td>
    </tr>
    
</table>

<!-- <table class="order catalog">
    <tr>
        <td>{% trans 'Invoice address' %}</td>
        <td>{% trans 'Shipping address' %}</td>
        <td>{% trans 'Shipping method' %}</td>
        <td>Способ оплаты</td>
    </tr>
    <tr>
        <td>
            <p>{{ current_order.fio }}</p>
            <p>{{ current_order.phone }}</p>
            <p>{{ current_order.dop_phone }}</p>
        </td>
        <td width="200">
        {% if current_order.transport_region %}
            <p>{{ current_order.transport_region }} обл,
                г. {{ current_order.transport_city }},
                ул. {{ current_order.transport_street }},
                д. {{ current_order.transport_house }},
                корп. - {{ current_order.transport_corpus }},
                стр. - {{ current_order.transport_stroenie }}</p>
        {% else %}
            <p>{{ current_order.samovivoz_addr }}</p>
        {% endif %}
            
        </td>        
        <td>
            <div>
            {% if current_order.payd_nal %}
                Наличными
            {% else %}
                Безналично
           <p> организация {{ current_order.beznal_organization }}</p>
           <p> инн  {{ current_order.beznal_inn }}</p>
            <p> кпп {{ current_order.beznal_kpp }}</p>
            {% endif %}

               
            </div>
        </td>
    </tr>

</table> -->

<table class="order catalog">
    <tr>
        <td>{% trans 'SKU' %}</td>
        <td>{% trans 'Name' %}</td>
        <td>кол&nbsp;-&nbsp;во
        </td><td class="price">{% trans 'Price' %}</td>
        <td class="price">{% trans 'Total' %}</td>
    </tr>
    {% for item in current_order.items.all %}
        <tr>
            <td>{{ item.product_sku }}</td>
            <td>{{ item.product_name }}</td>
            <td class="price" >{{ item.product_amount|floatformat }}</td>
            <td class="price">{{ item.product_price|currency }} <span class="rubl">o</span></td>
            <td class="price">{{ item.price|currency }}<span class="rubl">o</span></td>
        </tr>
    {% endfor %}        

    <tr class="total">
        <td colspan="2"><b>ИТОГО</b></td>
        <td colspan="4" class="price total"><b>{{ current_order.price|currency }}<span class="rubl">o</span></b></td>
    </tr>
</table>
{% if current_order.message %}
    <table class="order catalog">
        <tr>
            <td colspan="5">
                {% trans 'Message from the customer' %}
            </td>
        </tr>
        <tr>
            <td colspan="5">
                {{ current_order.message }}
            </td>
        </tr>
    </table>
{% endif %}