{% extends 'info_pages/info_page_base.html' %}
{% load i18n page_tags thumbnail %}

{% block breadcrumbs %}
<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li class="active">{{ page }}</li> 
  </ol>
</div>
{% endblock %}

{% block rightCol %}
<div class="article">
	<h2 class="catalog_h">{{ page }}</h2>
	<div class="article_txt">
    {{ page.body|safe }}
    </div>
</div>
{% endblock %}

