{% extends 'info_pages/info_page_base.html' %}
{% load i18n page_tags thumbnail %}

{% block breadcrumbs %}
<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li class="active">{{ page }}</li> 
  </ol>
</div>
{% endblock %}

{% block rightCol %}
<div class="article">
	<h2 class="catalog_h">{{ page }}</h2>
	<div class="article_txt">
    {{ page.body|safe }}

		
		<div class="row">				
			<div class="col-xs-12 v2">
				<p class="title_name"><h1>Вакансии</h1></p>
				<p class="title">
					Вы можете отправить резюме по адресу
					<a href="#">trak@voltrak.ru</a> 
					или откликнуться на имеющиеся вакансии.
				</p>
				<div class="line"></div>
			</div>
		
			<div class="col-xs-8 v1">
				<span class="work">Слесарь-инструментальщик</span>
				<br>
				<span class="zp">по договоренности</span>
			</div>
			<div class="col-xs-4 m_but">
				<a href="" class="botton window-feedback">Откликнуться</a>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-4">
				<p class="prof_title">
					<b>Требования</b>
				</p>
				<ul class="prof">
					<li>среднее специальное образование</li>
					<li>опыт работы в инструментальном производстве</li>
					<li>умение читать чертежи</li>
					<li>знание допусков и посадок</li>
				</ul>
			</div>
			<div class="col-xs-4">
				<p class="prof_title">
					<b>Функциональные обязанности</b>
				</p>
				<ul class="prof">
					<li>сборка, доводка кокильной оснастки</li>
					<li>сверловка приспособлений, мерительного и вспомогательного инструмента на сверлильных станках
					</li>
				</ul>
			</div>
			<div class="col-xs-4">
				<p class="prof_title">
					<b>Условия</b>
				</p>
				<ul class="prof">
					<li>График работы 5х2 с 6-30 до <br> 15-00, суббота, воскресенье выходной</li>
					<li>полный соцпакет</li>
					<li>зарплата своевременно – 2 раза в месяц</li>
					<li>обеспечение спецодеждой</li>
					<li> доставка служебным транспортом</li>
				</ul>				
			</div>
			
		</div>
		<div class="line"></div>
		<div class="row">
			<div class="col-xs-8 v1">
				<span class="work">Инженер-конструктор</span><br>
				<span class="zp">от 33 000 Р</span>
			</div>
			<div class="col-xs-4 m_but">
				<a href="#" class="botton window-feedback">Откликнуться</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<p class="prof_title">
					<b>Требования</b>
				</p>
				<ul class="prof">
					<li>высшее образование (технология машиностроения, металлорежущий инструмент)</li>
					<li>опыт работы в должности от 3 лет</li>
					<li>знания в области конструирования оснастки, режущего и мерительного инструментов в механообрабатывающих производствах</li>
					<li>самостоятельность, высокая работоспособность, дисциплинированность</li>
					<li>уверенный пользователь ПК, AutoCAD, SolidWorks</li>
				</ul>
			</div>
			<div class="col-xs-4 v1">
				<p class="prof_title">
					<b>Функциональные обязанности</b>
				</p>
				<ul class="prof">
					<li>проектирование станочной оснастки, режущего и мерительного инструмента для производства поршней</li>
					<li>работа в программах AutoCAD, SolidWorks</li>
				</ul>
			</div>
			<div class="col-xs-4">
				<p class="prof_title">
					<b>Условия</b>
				</p>
				<ul class="prof">
					<li>полный соцпакет</li>
					<li> 8-ми часовой рабочий день</li>
					<li>зарплата своевременно</li>
				</ul>				
			</div>
		</div>
		<div class="line"></div>
		<div class="row">
			<div class="col-xs-8 v1">
				<span class="work">Региональные торговые представители в разных регионах страны</span><br>
				<span class="zp">по договоренности</span>
			</div>
			<div class="col-xs-4 m_but">
				<a href="#" class="botton window-feedback">Откликнуться</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<p class="prof_title">
					<b>Требования</b>
				</p>
				<ul class="prof">
					<li>Высшее образование (желательно техническое)</li>
					<li>Опыт работы в продажах от 3 лет в сфере автозапчастей</li>
					<li>Успешный опыт в организации региональных продаж</li>
					<li>Наличие личного автомобиля обязательно</li>
					<li>Знание техники продаж</li>
					<li>Уверенный пользователь MS EXEL, Word, умение работать с CRM</li>
					<li>Понимание технических особенностей замены ЦПГ в двигателе</li>
					<li> Необходимые качества: целеустремленность и стрессоустойчивость. аналитические и организаторские способности, способность к поиску нестандартных решений, самостоятельность в принятии решений</li>
					<li>Умения: строить долгосрочные взаимоотношения с клиентами, добиваться лояльности клиента, преодолевать возражения, вести успешные переговоры</li>
				</ul>
			</div>
			<div class="col-xs-4">
				<p class="prof_title">
					<b>Функциональные обязанности</b>
				</p>
				<ul class="prof">
					<li>Регионы: Москва, Санкт-Петербург, Воронеж, Иваново..</li>
					<li>Активный поиск клиентов, заключение договоров</li>
					<li>Анализ клиентской базы и развитие существующих клиентов</li>
					<li>Сбор заявок, получение и доставка продукции до клиентов</li>
					<li>Работа по возврату дебиторской задолженности</li>
					<li>Предоставление отчетности</li>
				</ul>
			</div>
			<div class="col-xs-4">
				<p class="prof_title">
					<b>Условия</b>
				</p>
				<ul class="prof">
					<li>Ненормированный рабочий день</li>
					<li>Командировки</li>
					<li>Исключительно положительная деловая репутация в предыдущих местах работы</li>
					<li>Работа через ИП или ООО</li>
				</ul>				
			</div>
		</div>		




    </div>
</div>
{% endblock %}

