<table class="order_products">
    <tr>
        <th>н-е</th>
        <th>бренд</th>
        <th>кол-во</th>
    </tr>
    {% for item in items %}
    <tr>
        <td><a href="{{ item.product.get_change_url }}">{{ item.product.name }}</a></td>
        <td>{{ item.product.manufacturer.name }}</td>
        <td>{{ item.product_amount|floatformat }}</td>
    </tr>
    {% endfor %}
</table>