{% load widget_tweaks %}

{% if not form.is_pickup %}
	<p class="title_form">Адрес доставки</p>

    {% include "includes/one_field.html" with field=form.invoice_city %}
    {% include "includes/one_field.html" with field=form.invoice_street %}

    <a href="#collapseOne" id="address_detail_link"  data-toggle="collapse" class="collapse_1">указать дом, этаж, квартиру и т.д.</a>
    <div id="collapseOne" class="panel-collapse collapse">
        <div class="formLeft small">{% include "includes/one_field.html" with field=form.invoice_home %} </div>
        <div class="formLeft small">{% include "includes/one_field.html" with field=form.invoice_flat %}</div>
        <div class="formLeft small">{% include "includes/one_field.html" with field=form.invoice_apart %}</div>
    </div>
{% endif %}