{% extends "base.html" %}
{% load thumbnail generic_flatblocks lfs_tags news_tags docent_help_tags cache %}
{% block scripts %}{% endblock %}

{% block bodyclass %}{% endblock %}

{% block breadcrumbs %}{% endblock %}


{% block content %}
<section class="i0">
  <div class="container">
    <div class="row">
      <div class="col-xs-9 col-xs-offset-3">
          <div class="index_slider">
            <ul class="slider_1">
              {% if slider %}
                {% for slide in slider %}
                    {% thumbnail slide.image "670x420"  as im %}
                        <li><a  {% if slide.target %}target="_blank"{% endif %} href="{{ slide.url }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a></li>
                    {% endthumbnail %}
                {% endfor %}
              {% endif %}  
            </ul>
            <div id="bx-pager">
              {% if slider %}
                {% for slide in slider %}
                    {% thumbnail slide.image "170x106"  as im %}
                        <a data-slide-index="{{ forloop.counter0 }}" href=""><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }"></a>
                    {% endthumbnail %}
                {% endfor %}
              {% endif %}  
            </div>
          </div>
         </div>
    </div>
  </div>
</section>
<section class="i1">
  <div class="container">
    <div class="row">
      <div class="col-xs-9">
      {% news_list %}
      </div>
      <div class="col-xs-3">
      {% if video %}
        <a class="h1 md link_h1" href="{% url 'video_list' %}">Видеоархив</a>
        <div class="video_index">
          <iframe width="262" height="147" src="https://www.youtube.com/embed/{{ video.get_youtube_id }}" frameborder="0" allowfullscreen=""></iframe>
        </div>
      {% endif %}
      </div>
      <div class="col-xs-12">
        <a class="h1 md link_h1" href="{% url 'partners' %}">Наши партнеры</a>
        <div class="slider_partners">
         <ul class="slider_2">
         {% for partner in partners_list %}
            <li>
            {% thumbnail partner.image "160x40"  format='PNG' as im %}
              <img src="{{ im.url }}" alt="{{ partner.name }}">
            {% endthumbnail %}
            </li>
         {% endfor %}
         </ul>
       </div> 
      </div>
    </div>
  </div>
</section>
<section class="i2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      {% gblock 'text_on_main' for 'gblocks.titleandtext' into 'text_on_main' %}
       <h1 class="md">{{ text_on_main.title }}</h1>
       <p>{{ text_on_main.text|safe }}</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}