{% extends 'info_pages/info_page_base.html' %}
{% load i18n page_tags thumbnail %}

{% block breadcrumbs %}
<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li class="active">Вакансии</li> 
  </ol>
</div>
{% endblock %}

{% block rightCol %}
<div class="article">
	<h2 class="catalog_h">Ваша вакансия успешно отправлена!</h2>
</div>
{% endblock %}

