{% extends 'info_pages/info_page_base.html' %}
{% load i18n page_tags thumbnail widget_tweaks %}

{% block breadcrumbs %}
<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li class="active">{{ page }}</li> 
  </ol>
</div>
{% endblock %}

{% block rightCol %}

<div class="article">

	<div class="article_txt">
	{% with vacancies_list|first as first_vac %}
		<div class="row">				
			<div class="col-xs-12 v2">
				<p class="title_name"><h1>Вакансии</h1></p>
				<p class="title">
					Вы можете отправить резюме по адресу
					<a href="#">{{ vac_email }}</a> 
					или откликнуться на имеющиеся вакансии.
				</p>
				<div class="line"></div>
			</div>
		
			<div class="col-xs-8 v1">
				<span class="work">{{ first_vac.name }}</span>
				<br>
				<span class="zp">{{ first_vac.price }}</span>
			</div>
			<div class="col-xs-4 m_but">
				<a href="" data-vac="{{ first_vac.name }}" class="botton window-feedback">Откликнуться</a>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-4">
				<p class="prof_title">
					<b>Требования</b>
				</p>
				<ul class="prof">
				{% for req in first_vac.get_all_requiremements %}
					<li>{{ req.value }}</li>
				{% endfor %}
				</ul>
			</div>
			<div class="col-xs-4">
				<p class="prof_title">
					<b>Функциональные обязанности</b>
				</p>
				<ul class="prof">
					{% for req in first_vac.get_all_duty %}
					<li>{{ req.value }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-xs-4">
				<p class="prof_title">
					<b>Условия</b>
				</p>
				<ul class="prof">
					{% for req in first_vac.get_all_conditions %}
					<li>{{ req.value }}</li>
				{% endfor %}
				</ul>				
			</div>
			
		</div>
		{% endwith %}

		{% for vac in vacancies_list|slice:"1:" %}
		<div class="line"></div>
		<div class="row">
			<div class="col-xs-8 v1">
				<span class="work">{{ vac.name }}</span><br>
				<span class="zp">{{ vac.price }}</span>
			</div>
			<div class="col-xs-4 m_but">
				<a href="#" data-vac="{{ vac.name }}" class="botton window-feedback">Откликнуться</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<p class="prof_title">
					<b>Требования</b>
				</p>
				<ul class="prof">
					{% for req in vac.get_all_requiremements %}
					<li>{{ req.value }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-xs-4 v1">
				<p class="prof_title">
					<b>Функциональные обязанности</b>
				</p>
				<ul class="prof">
					{% for req in vac.get_all_duty %}
					<li>{{ req.value }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-xs-4">
				<p class="prof_title">
					<b>Условия</b>
				</p>
				<ul class="prof">
					{% for req in vac.get_all_conditions %}
					<li>{{ req.value }}</li>
					{% endfor %}
				</ul>				
			</div>
		</div>
		{% endfor %}
    </div>
</div>

<div id="modal-feedback" class="modal_w">  
    <p class="h1 lg">Отправить резюме</p>
    <span class="NoInputErrors"></span>
    <form action="{% url 'vacancies_list' %}" id="vacancyForm" enctype="multipart/form-data" method="POST">{% csrf_token %}
        <div class="clear">
          <label for="vacancy">Вакансия</label>
     		{% if form.vacancy.errors %}
     			{{ form.vacancy|add_class:"error" }} 
     		{% else %}
     		    {{ form.vacancy }} 
     		{% endif %}
        </div>

        <div class="clear">
          <label for="fio">ФИО</label>
           	{% if form.fio.errors %}
     			{{ form.fio|add_class:"error" }} 
     		{% else %}
     		    {{ form.fio }} 
     		{% endif %}
        </div>

        <div class="clear">
          <label for="email">Эл.почта</label> 
          	{% if form.email.errors %}
     			{{ form.email|add_class:"error" }} 
     		{% else %}
     		    {{ form.email }} 
     		{% endif %} 
        </div>

        <div class="clear">
          <label for="phone">Телефон</label> 
            {% if form.phone.errors %}
     			{{ form.phone|add_class:"error" }} 
     		{% else %}
     		    {{ form.phone }} 
     		{% endif %} 
        </div>

        <div class="clear">
          <label for="file">Прикрепите резюме</label> 
          <input type="file" name="file" class="rezume_file" id="rezume">
          <div class="file"></div>
        </div>                           

          <input type="submit" id="VacancyFormSubmit" value="Отправить">
          <div class="__all__"></div>         
        </form>

</div>
	{% if show_form %}
	<script type="text/javascript">
	$(document).ready(function(){
			$('#modal-feedback').modal({
	      opacity: 75,
	      overlayClose: true,
	    });
	});

	</script>
	{% endif %}
{% endblock %}

