{% extends "customer/base.html" %}
{% load lfs_tags %}

{% block breadcrumbs %}
<div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li class="active">Личный кабинет</li> 
  </ol>
</div>
{% endblock %}

{% block rightCol %}
<div class="article">
    <h2 class="catalog_h">Мои данные</h2>
    <div class="article_txt">
        <table class="catalog">
            <tbody>
            <tr>
                <td class="cat_name">ФИО</td>
                <td class="cat_name">Регистрационный E-mail</td>
                <td class="cat_name">Дата регистрации</td>
            </tr>
            <tr>
                <td class="cat_name">{{ customer_attributes.fio }}</td>
                <td class="cat_name">{{ user.email }}</td>
                <td class="cat_name">{{ user.date_joined|date:"d F Y" }}</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
{% if current_order %}
    <div class="article">
        <h2 class="catalog_h">Информация о последнем заказе</h2>
        <div class="article_txt">
            <table class="catalog">
                <tbody>
                <tr>
                    <td class="cat_name">Номер заказа</td>
                    <td class="cat_name">Дата</td>
                    <td class="cat_name">E-mail</td>
                    <td class="cat_name">Цена заказа</td>
                  </tr>
                <tr>
                    <td class="cat_name">{{ current_order.custom_order_number }}</td>
                    <td class="cat_name">{{ current_order.created|date:_("DATETIME_FORMAT")}}</td>
                    <td class="cat_name">{{ current_order.email }}</td>
                    <td class="cat_name">{{ current_order.price|currency }} <span class="rubl">o</span></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

</div>
{% endblock %}
