{% extends "customer/base.html" %}
{% load lfs_tags %}

{% block breadcrumbs %}
 <div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="#">Главная</a></li>
    <li><a href="{% url 'docent_my_account' %}">Личный кабинет</a></li>
    <li class="active">Изменить личные данные</li>
  </ol>
</div>
{% endblock %}

{% block rightCol %}
        <h1 class="lg">Личные данные</h1>    
        <form action="{% url 'docent_my_data' %}" id="my_office_form" class="my_office form-horizontal clear">
          <p>Редактировать информацию профиля</p>
          {% for el in form_lk %}
            <div class="clear clear_{{ forloop.counter0 }}">
                <label for="">{% if el.field.required %}<sup>*</sup>{% endif %} {{ el.label }}</label>
                {{ el }}
            </div>
          {% endfor %}          
           <span class="clearfix"></span>
          <button class="button" id="save_profile_form">Сохранить</button>        
        </form>
{% endblock %}
