{% extends "customer/base.html" %}
{% load i18n %}

{% block dop_bread %}
<li>Изменить мой emai</li>
{% endblock %}

{% block rightCol %}
<div class="col-xs-5">
<h2 class="catalog_h">Изменить мой email</h2>
 {% if saved %}
        <p class="ok_1">ваш email успешно сохранен</p>
    {% endif %}
    <form action="{% url 'ecko_my_email' %}"
          method="post" class="change_mail reg_enter">{% csrf_token %}
            {% with email_form as form %}
                {% include "includes/form_widget.html" %}
            {% endwith %}
            <div class="clear"></div>
            <input type="hidden" name="action" value="email" />
            <input type="submit" class="button" value="сохранить" />
    </form>
</div>
{% endblock %}               