{% extends "customer/base.html" %}
{% load i18n %}
{% load lfs_tags %}


{% block breadcrumbs %}
 <div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="#">Главная</a></li>
    <li><a href="{% url 'docent_my_account' %}">Личный кабинет</a></li>
    <li><a href="{% url 'docent_my_orders' %}">Мои заказы</a></li>
    <li class="active">Номер заказа {{ current_order.id }}</li>
  </ol>
</div>
{% endblock %}


{% block rightCol %}
	<div class="article">
		<h2 class="catalog_h">Номер заказа {{ current_order.custom_order_number }}</h2>
		<div class="article_txt">
	    {% include "order/order_tmpl.html" %}

	    <a class="myOrder" href="{% url 'docent_my_orders' %}">Вернуться к моим заказам</a>
	   	</div>
	</div>
{% endblock %}