{% extends "customer/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block breadcrumbs %}
 <div class="col-xs-12">
  <ol class="breadcrumb">
    <li><a href="#">Главная</a></li>
    <li><a href="{% url 'docent_my_account' %}">Личный кабинет</a></li>
    <li class="active">Мои заказы</li>
  </ol>
</div>
{% endblock %}



{% block rightCol %}
<div class="article">
    <h2 class="catalog_h">Мои заказы</h2>
    <div class="article_txt">
    {% if orders %}
        <table class="catalog">
            <tbody>
            <tr>
                <td class="cat_name">Дата</td>
                <td class="cat_name">Цена</td>
                <td class="cat_name">Статус</td>
            </tr>
            {% for order in orders %}
            <tr>
                <td class="cat_name"> 
                        <a href="{% url 'docent_my_order' order.id %}">
                            {{order.created|date:_("DATETIME_FORMAT")}}
                        </a></td>
                <td class="cat_name">{{order.price|currency}}<span class="rubl">o</span></td>
                <td class="cat_name">{{order.get_state_display}}</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
     <p>У вас пока нет заказов</p>
    {% endif %}
    </div>
</div>
{% endblock %}